Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

Add RAW_TERMS_URL environment variable to CI
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

chore(deps): bump lodash from 4.17.21 to 4.17.23 in the npm_and_yarn group across 1 directory (#245)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

ci: enable OIDC publishing
  .github/workflows/release.yml
Due: prettier --no-error-on-unmatched-pattern --write

ci: enable OIDC publishing
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#250)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: override bookmarks according to sidebar config
  fixture-docs/en/configure/pod_template_guide.mdx
  fixture-docs/zh/configure/pod_template_guide.mdx
  packages/doom/src/cli/export.ts
  packages/export/src/export-pdf-core/generatePdf.ts
  packages/export/src/export-pdf-core/types.ts
  packages/export/src/export-pdf-core/utils/index.ts
  packages/export/src/export-pdf-core/utils/mergePDF.ts
  packages/export/src/export-pdf-core/utils/setOutlines.ts
  packages/export/src/html-export-pdf/core/printer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create itchy-fireants-bake.md
  .changeset/itchy-fireants-bake.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: fix typo
  packages/doom/src/cli/export.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: override bookmarks according to sidebar config (#251)
  .changeset/itchy-fireants-bake.md
  fixture-docs/en/configure/pod_template_guide.mdx
  fixture-docs/zh/configure/pod_template_guide.mdx
  packages/doom/src/cli/export.ts
  packages/export/src/export-pdf-core/generatePdf.ts
  packages/export/src/export-pdf-core/types.ts
  packages/export/src/export-pdf-core/utils/index.ts
  packages/export/src/export-pdf-core/utils/mergePDF.ts
  packages/export/src/export-pdf-core/utils/setOutlines.ts
  packages/export/src/html-export-pdf/core/printer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: override bookmarks according to sidebar config (#251)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#252)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: support exporting API docs in groups
  .changeset/major-parrots-warn.md
  doom.config.yml
  packages/doom/src/cli/export.ts
  packages/doom/src/plugins/auto-sidebar/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support exporting API docs in groups (#254)
  .changeset/major-parrots-warn.md
  doom.config.yml
  packages/doom/src/cli/export.ts
  packages/doom/src/plugins/auto-sidebar/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: known callouts style issue
  .changeset/cozy-mirrors-bet.md
  packages/doom/styles/global.scss
Due: prettier --no-error-on-unmatched-pattern --write

fix: known callouts style issue (#256)
  .changeset/cozy-mirrors-bet.md
  packages/doom/styles/global.scss
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump dependencies
  .renovaterc
  package.json
  packages/doom/package.json
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/hooks/useSiteOverrides.ts
  packages/export/package.json
  patches/eslint-plugin-mdx+3.6.2.patch
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#255)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

fix: stick on eslint 9 temporarily
  .changeset/gentle-stamps-stop.md
  .renovaterc
  package.json
  packages/doom/package.json
  patches/eslint-plugin-mdx+3.6.2.patch
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: stick on eslint 9 temporarily (#257)
  .changeset/gentle-stamps-stop.md
  .renovaterc
  package.json
  packages/doom/package.json
  patches/eslint-plugin-mdx+3.6.2.patch
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: stick on eslint 9 temporarily (#257)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

Potential fix for code scanning alert no. 9: Workflow does not contain permissions (#259)
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

Potential fix for code scanning alert no. 9: Workflow does not contain permissions (#259)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#258)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

fix: downgrade rspress for rsbuild regression temporarily
  .changeset/real-badgers-attend.md
  .github/workflows/ci.yml
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: downgrade rspress for rsbuild regression temporarily (#260)
  .changeset/real-badgers-attend.md
  .github/workflows/ci.yml
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#261)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

fix: container style issue
  .changeset/old-cooks-rule.md
  fixture-docs/en/index.mdx
  fixture-docs/i18n.json
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/styles/auto-expandable.module.scss
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: container style issue (#262)
  .changeset/old-cooks-rule.md
  fixture-docs/en/index.mdx
  fixture-docs/i18n.json
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/styles/auto-expandable.module.scss
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#263)
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

fix: known UI issues
  .changeset/light-apricots-grab.md
  .cspell/brand.txt
  fixture-docs/en/index.mdx
  fixture-docs/zh/index.mdx
  packages/doom/src/runtime/hooks/useSiteOverrides.ts
  packages/doom/src/runtime/translation.ts
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/styles/auto-expandable.module.scss
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
