Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

fix: use overview in normal page
  package.json
  styles/overview.module.scss
Due: prettier --no-error-on-unmatched-pattern --write

chore: replace logo
  assets/logo.svg
  docs/public/logo.svg
Due: none

fix: support complex response object, adjust code block style in tabs
  docs/apis/advanced-apis/aggregation.mdx
  docs/shared/openapis/logging.alauda.io.v2.json
  fixture-docs/en/index.mdx
  fixture-docs/zh/reference.mdx
  package.json
  src/cli/load-config.ts
  src/plugins/shiki/rehypePlugin.ts
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Tabs.ts
  src/runtime/components/Tabs.tsx
  src/runtime/utils.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support external link extname rewriting, better style
  docs/usage/mdx.mdx
  eslint.config.js
  package.json
  src/runtime/components/ExternalSiteLink.tsx
  styles/link.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: add `--no-lazy` option for `dev`
  docs/start.mdx
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: make `lazyCompilation` opt-in
  docs/start.mdx
  package.json
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/new.ts
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support nested `properties` in `property`
  docs/apis/advanced-apis/event/index.mdx
  docs/apis/advanced-apis/event/search.mdx
  docs/apis/advanced-apis/log/aggregation.mdx
  docs/apis/advanced-apis/log/index.mdx
  docs/apis/advanced-apis/log/search.mdx
  docs/shared/openapis/events.alauda.io.v1.json
  package.json
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: frontmatter could be missed
  fixture-docs/en/appservice/unified-om/alert-policy-mgt/functions/index.mdx
  fixture-docs/zh/appservice/unified-om/alert-policy-mgt/functions/index.mdx
  package.json
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: update prompt
  docs/usage/configuration.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: overview styling issue and translate with comments
  docs/usage/configuration.md
  fixture-docs/doom.config.yml
  fixture-docs/en/other.mdx
  fixture-docs/en/ref.md
  fixture-docs/zh/ait-release.md
  fixture-docs/zh/other.mdx
  fixture-docs/zh/ref.md
  package.json
  src/cli/translate.ts
  src/runtime/components/Overview.tsx
  styles/overview.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: windows path compatibility
  package.json
  src/plugins/auto-sidebar/walk.ts
  src/plugins/replace/remark-replace.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: change `npmRegistryServer`
  .build/ci.yaml
Due: prettier --no-error-on-unmatched-pattern --write

fix: set `themeConfig#outline` specifically
  package.json
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: support remove unmatched target files on translate
  docs/start.mdx
  fixture-docs/en/internal/index.mdx
  fixture-docs/en/internal/test.mdx
  fixture-docs/zh/internal/index.mdx
  fixture-docs/zh/internal/test.mdx
  package.json
  src/cli/helpers.ts
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: remove ignored routes from sidebar
  fixture-docs/doom.config.yml
  fixture-docs/en/concepts/assets/gatewayview.png
  fixture-docs/en/concepts/assets/netrelationship.png
  fixture-docs/en/concepts/autoscaling/cronhpa.mdx
  fixture-docs/en/concepts/autoscaling/hpa.mdx
  fixture-docs/en/concepts/autoscaling/index.mdx
  fixture-docs/en/concepts/autoscaling/vpa.mdx
  fixture-docs/en/concepts/bucket.mdx
  fixture-docs/en/concepts/cli.mdx
  fixture-docs/en/concepts/configmap.mdx
  fixture-docs/en/concepts/gateway.mdx
  fixture-docs/en/concepts/healthcheck.mdx
  fixture-docs/en/concepts/index.mdx
  fixture-docs/en/concepts/ingress.mdx
  fixture-docs/en/concepts/parameter/arguements.mdx
  fixture-docs/en/concepts/parameter/environment_variables.mdx
  fixture-docs/en/concepts/parameter/index.mdx
  fixture-docs/en/concepts/parameter/startup_commands.mdx
  fixture-docs/en/concepts/secret.mdx
  fixture-docs/en/concepts/volume/empty_hostpath.mdx
  fixture-docs/en/concepts/volume/ephemeral_volumes.mdx
  fixture-docs/en/concepts/volume/index.mdx
  fixture-docs/en/concepts/volume/pvc.mdx
  fixture-docs/en/concepts/workload/cronjob.mdx
  fixture-docs/en/concepts/workload/deamonset.mdx
  fixture-docs/en/concepts/workload/deployment.mdx
  fixture-docs/en/concepts/workload/index.mdx
  fixture-docs/en/concepts/workload/job.mdx
  fixture-docs/en/concepts/workload/statefulset.mdx
  package.json
  src/plugins/auto-sidebar/walk.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support flatten tabs on print mode
  docs/usage/mdx.mdx
  package.json
  src/cli/export.ts
  src/cli/helpers.ts
  src/runtime/components/QuickNav.tsx
  src/runtime/components/Tabs.tsx
  src/runtime/components/index.ts
  src/runtime/hooks/useIsPrint.ts
  src/shared/constants.ts
  styles/quick-nav.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: callouts styling issue with nested `p`
  docs/usage/markdown.md
  package.json
  styles/global.scss
Due: prettier --no-error-on-unmatched-pattern --write

feat: add `toml` to shiki langs
  fixture-docs/zh/install/installing.mdx
  package.json
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: escape markdown heading ids on translate like dev and build
  docs/usage/configuration.md
  eslint.config.js
  fixture-docs/en/apis/index.mdx
  fixture-docs/zh/apis/index.mdx
  package.json
  src/cli/helpers.ts
  src/cli/html-export-pdf/core/outline.ts
  src/cli/html-export-pdf/core/postprocesser.ts
  src/cli/html-export-pdf/core/printer.ts
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: `JIRA_TOKEN` is not supported
  docs/usage/configuration.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add global custom `userPrompt` support
  docs/usage/configuration.md
  package.json
  src/cli/translate.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: exclude APIs routes automatically for `export` command
  .prettierignore
  docs/start.mdx
  fixture-docs/en/00_overview/01_intro.mdx
  fixture-docs/en/00_overview/02_advantages.mdx
  fixture-docs/en/00_overview/03_features.mdx
  fixture-docs/en/00_overview/03_release_notes.mdx
  fixture-docs/en/00_overview/index.mdx
  fixture-docs/en/00_overview/selection.mdx
  fixture-docs/en/90_apis/01_advanced_apis/index.mdx
  fixture-docs/en/90_apis/02_kubernetes_apis/index.mdx
  fixture-docs/en/90_apis/index.mdx
  fixture-docs/zh/00_overview/01_intro.mdx
  fixture-docs/zh/00_overview/02_advantages.mdx
  fixture-docs/zh/00_overview/03_features.mdx
  fixture-docs/zh/00_overview/03_release_notes.mdx
  fixture-docs/zh/00_overview/index.mdx
  fixture-docs/zh/00_overview/selection.mdx
  fixture-docs/zh/90_apis/01_advanced_apis/index.mdx
  fixture-docs/zh/90_apis/02_kubernetes_apis/index.mdx
  fixture-docs/zh/90_apis/index.mdx
  package.json
  src/cli/export.ts
  src/cli/load-config.ts
  src/cli/new.ts
  src/plugins/auto-sidebar/index.ts
  src/shared/constants.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: hide apis routes from sidebar without dead links
  fixture-docs/en/overview.mdx
  fixture-docs/zh/overview.mdx
  package.json
  src/cli/export.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/plugins/auto-sidebar/index.ts
  src/shared/constants.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add `-e, --export` flag
  docs/start.mdx
Due: prettier --no-error-on-unmatched-pattern --write

feat: always use latest terms defined in product-doc-guide
  docs/usage/configuration.md
  fixture-docs/zh/overview.mdx
  package.json
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `x-fetch` should be dependency instead
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

ci: disable npmmirror `COREPACK_NPM_REGISTRY` temporarily
  .build/ci.yaml
  .yarn/releases/yarn-4.9.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: better log for removed files
  package.json
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: should always ignore `sourceSHA` from `source` frontmatter
  package.json
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: shoud not extract `shaHash`
  package.json
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: log both source and target file
  package.json
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: check whether ru directory available
  global.d.ts
  package.json
  src/cli/load-config.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add `unversioned-x.y` version support
  .yarn/releases/yarn-4.9.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  docs/start.mdx
  docs/usage/deploy.md
  package.json
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/global/VersionsNav/NavMenuGroup.tsx
  src/global/VersionsNav/index.tsx
  src/plugins/global/index.ts
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/hooks/useSiteOverrides.ts
  src/shared/constants.ts
  src/shared/helpers.ts
  src/shared/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support `include-language` and `exclude-language` args
  docs/start.mdx
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: rename `-I` and `-E` flags
  docs/start.mdx
  package.json
  src/cli/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: rename shorter `--include` and `--exclude` flags
  docs/start.mdx
  package.json
  src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add `-o, --out-dir` flag support
  docs/start.mdx
  docs/usage/configuration.md
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
