Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#203)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: sibling could be undefined
  fixture-docs/en/connector-api.md
  packages/doom/src/plugins/attributes/remark-attributes/attributes-transformer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create clean-garlics-chew.md
  .changeset/clean-garlics-chew.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: sibling could be undefined (#205)
  .changeset/clean-garlics-chew.md
  fixture-docs/en/connector-api.md
  packages/doom/src/plugins/attributes/remark-attributes/attributes-transformer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: do not use .at
  packages/doom/src/plugins/attributes/remark-attributes/attributes-transformer.ts
  packages/doom/src/runtime/components/Overview.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#206)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

refactor: remove bad attributes plugin
  packages/doom/package.json
  packages/doom/shim.d.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/plugins/attributes/index.ts
  packages/doom/src/plugins/attributes/remark-attributes/attributes-transformer.ts
  packages/doom/src/plugins/attributes/remark-attributes/index.ts
  packages/doom/src/plugins/attributes/remark-attributes/mdast-attributes.ts
  packages/doom/src/plugins/attributes/remark-attributes/micromark-attributes.ts
  packages/doom/src/plugins/attributes/remark-attributes/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create curvy-months-swim.md
  .changeset/curvy-months-swim.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: remove bad attributes plugin (#207)
  .changeset/curvy-months-swim.md
  packages/doom/package.json
  packages/doom/shim.d.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/plugins/attributes/index.ts
  packages/doom/src/plugins/attributes/remark-attributes/attributes-transformer.ts
  packages/doom/src/plugins/attributes/remark-attributes/index.ts
  packages/doom/src/plugins/attributes/remark-attributes/mdast-attributes.ts
  packages/doom/src/plugins/attributes/remark-attributes/micromark-attributes.ts
  packages/doom/src/plugins/attributes/remark-attributes/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support markdown for terms
  docs/zh/usage/mdx.mdx
  packages/doom/src/login/index.tsx
  packages/doom/src/runtime/components/Markdown.tsx
  packages/doom/src/runtime/components/Term.tsx
  packages/doom/src/runtime/components/TermsTable.tsx
  packages/doom/src/terms.ts
  packages/doom/styles/login.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create thick-balloons-tap.md
  .changeset/thick-balloons-tap.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: translate
  docs/en/usage/mdx.mdx
  package.json
Due: prettier --no-error-on-unmatched-pattern --write

feat: support markdown for terms (#210)
  .changeset/thick-balloons-tap.md
  docs/en/usage/mdx.mdx
  docs/zh/usage/mdx.mdx
  package.json
  packages/doom/src/login/index.tsx
  packages/doom/src/runtime/components/Markdown.tsx
  packages/doom/src/runtime/components/Term.tsx
  packages/doom/src/runtime/components/TermsTable.tsx
  packages/doom/src/terms.ts
  packages/doom/styles/login.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: schema in requestBody could be undefined
  .changeset/grumpy-berries-dress.md
  docs/en/apis/advanced-apis/workload/daemonset.mdx
  docs/en/apis/advanced-apis/workload/deployment.mdx
  docs/en/apis/advanced-apis/workload/index.mdx
  docs/shared/openapis/apps.v1.json
  docs/zh/apis/advanced-apis/workload/daemonset.mdx
  docs/zh/apis/advanced-apis/workload/deployment.mdx
  docs/zh/apis/advanced-apis/workload/index.mdx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: schema in requestBody could be undefined (#212)
  .changeset/grumpy-berries-dress.md
  docs/en/apis/advanced-apis/workload/daemonset.mdx
  docs/en/apis/advanced-apis/workload/deployment.mdx
  docs/en/apis/advanced-apis/workload/index.mdx
  docs/shared/openapis/apps.v1.json
  docs/zh/apis/advanced-apis/workload/daemonset.mdx
  docs/zh/apis/advanced-apis/workload/deployment.mdx
  docs/zh/apis/advanced-apis/workload/index.mdx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add @types/react as dependency for editor experience
  .changeset/tangy-games-shop.md
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: add @types/react as dependency for editor experience (#214)
  .changeset/tangy-games-shop.md
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: $ref compatibility
  .changeset/shaggy-bees-sort.md
  docs/zh/apis/advanced-apis/workload/daemonset.mdx
  docs/zh/apis/references/DaemonSet.mdx
  docs/zh/apis/references/Deployment.mdx
  doom.config.yml
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Update doom.config.yml
  doom.config.yml
Due: prettier --no-error-on-unmatched-pattern --write

fix: $ref compatibility (#216)
  .changeset/shaggy-bees-sort.md
  docs/zh/apis/advanced-apis/workload/daemonset.mdx
  docs/zh/apis/references/DaemonSet.mdx
  docs/zh/apis/references/Deployment.mdx
  doom.config.yml
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#217)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump rspress to v2.0.0-rc.1
  .nvmrc
  docs/en/usage/markdown.md
  docs/zh/usage/markdown.md
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/plugins/directives/remark-directives.ts
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/_HeadingTitle.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/VersionsNav/Down.tsx
  packages/doom/src/theme/VersionsNav/NavMenuGroup.tsx
  packages/doom/src/theme/VersionsNav/NavMenuSingleItem.tsx
  packages/doom/src/theme/VersionsNav/SvgWrapper.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  packages/doom/src/theme/useEditLink.ts
  packages/doom/styles/global.scss
  packages/doom/styles/link.module.scss
  packages/doom/styles/versions-nav.module.scss
  packages/export/package.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.2
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/login/index.tsx
  packages/doom/src/runtime/components/Badge.ts
  packages/doom/src/runtime/components/JsonViewer.tsx
  packages/doom/src/runtime/components/K8sCrd.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/PackageManagerTabs.ts
  packages/doom/src/runtime/components/Steps.ts
  packages/doom/src/runtime/components/Tab.ts
  packages/doom/src/runtime/components/Tabs.tsx
  packages/doom/src/runtime/components/Toc.ts
  packages/doom/src/runtime/components/_X.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Search.tsx
  packages/doom/src/theme/VersionsNav/NavMenuGroup.tsx
  packages/doom/src/theme/VersionsNav/NavMenuSingleItem.tsx
  packages/doom/src/theme/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: disable llms temporarily
  packages/doom/src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create green-cobras-dress.md
  .changeset/green-cobras-dress.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.2 (#219)
  .changeset/green-cobras-dress.md
  .nvmrc
  docs/en/usage/markdown.md
  docs/zh/usage/markdown.md
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/login/Button/index.tsx
  packages/doom/src/login/index.tsx
  packages/doom/src/plugins/directives/remark-directives.ts
  packages/doom/src/plugins/replace/types.ts
  packages/doom/src/runtime/components/Badge.ts
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/JsonViewer.tsx
  packages/doom/src/runtime/components/K8sCrd.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/PackageManagerTabs.ts
  packages/doom/src/runtime/components/Steps.ts
  packages/doom/src/runtime/components/Tab.ts
  packages/doom/src/runtime/components/Tabs.tsx
  packages/doom/src/runtime/components/Toc.ts
  packages/doom/src/runtime/components/_HeadingTitle.tsx
  packages/doom/src/runtime/components/_X.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Search.tsx
  packages/doom/src/theme/VersionsNav/Down.tsx
  packages/doom/src/theme/VersionsNav/NavMenuGroup.tsx
  packages/doom/src/theme/VersionsNav/NavMenuSingleItem.tsx
  packages/doom/src/theme/VersionsNav/SvgWrapper.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  packages/doom/src/theme/index.ts
  packages/doom/src/theme/useEditLink.ts
  packages/doom/styles/global.scss
  packages/doom/styles/link.module.scss
  packages/doom/styles/versions-nav.module.scss
  packages/export/package.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#220)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: bump @alauda/doom-export version
  .changeset/nine-bears-switch.md
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
