Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

refactor: remove translate chunks in favor of steaming
  .changeset/tall-experts-feel.md
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Update .changeset/tall-experts-feel.md
  .changeset/tall-experts-feel.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: remove translate chunks in favor of streaming (#315)
  .changeset/tall-experts-feel.md
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: remove translate chunks in favor of streaming (#315)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat(remark-lint): add file-naming rule to enforce document filename conventions
  openspec/changes/archive/2026-04-20-add-file-naming-rule/.openspec.yaml
  openspec/changes/archive/2026-04-20-add-file-naming-rule/design.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/proposal.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/specs/file-naming-rule/spec.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/tasks.md
  packages/doom/src/remark-lint/file-naming.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/remark-lint/file-naming.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create fresh-houses-scream.md
  .changeset/fresh-houses-scream.md
Due: prettier --no-error-on-unmatched-pattern --write

feat(remark-lint): add file-naming rule (#317)
  .changeset/fresh-houses-scream.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/.openspec.yaml
  openspec/changes/archive/2026-04-20-add-file-naming-rule/design.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/proposal.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/specs/file-naming-rule/spec.md
  openspec/changes/archive/2026-04-20-add-file-naming-rule/tasks.md
  packages/doom/src/remark-lint/file-naming.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/remark-lint/file-naming.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat(remark-lint): add file-naming rule (#317)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat: add heading anchor format lint rule
  .agents/skills/openspec-apply-change/SKILL.md
  .agents/skills/openspec-archive-change/SKILL.md
  .agents/skills/openspec-explore/SKILL.md
  .agents/skills/openspec-propose/SKILL.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/.openspec.yaml
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/design.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/proposal.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/specs/heading-anchor-format-lint/spec.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/tasks.md
  packages/doom/src/remark-lint/heading-anchor-format.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/cli/helpers.spec.ts
  packages/doom/test/remark-lint/heading-anchor-format.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: refine heading anchor lint handling
  packages/doom/src/remark-lint/heading-anchor-format.ts
  packages/doom/src/remarkrc.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Change version from patch to minor for doom package
  .changeset/fast-kangaroos-return.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add heading anchor format lint rule (#318)
  .agents/skills/openspec-apply-change/SKILL.md
  .agents/skills/openspec-archive-change/SKILL.md
  .agents/skills/openspec-explore/SKILL.md
  .agents/skills/openspec-propose/SKILL.md
  .changeset/fast-kangaroos-return.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/.openspec.yaml
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/design.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/proposal.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/specs/heading-anchor-format-lint/spec.md
  openspec/changes/archive/2026-04-21-add-heading-anchor-format-rule/tasks.md
  packages/doom/src/remark-lint/heading-anchor-format.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/cli/helpers.spec.ts
  packages/doom/test/remark-lint/heading-anchor-format.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add heading anchor format lint rule (#318)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

fix: adapt AI assistant streaming answer parsing
  .gitignore
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/utils.ts
  packages/doom/test/global/Intelligence/AIAssistant/utils.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Fix AI assistant streaming answer parsing
  .changeset/many-guests-shake.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: adapt AI assistant streaming answer parsing (#319)
  .changeset/many-guests-shake.md
  .gitignore
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/utils.ts
  packages/doom/test/global/Intelligence/AIAssistant/utils.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#320)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat: add products and breadcrumb support
  .changeset/dull-canyons-feel.md
  .gitignore
  packages/doom/src/cli/translate.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/products/index.tsx
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/hooks/useSiteOverrides.ts
  packages/doom/src/runtime/translation.ts
  packages/doom/src/shared/context.ts
  packages/doom/src/theme/Breadcrumb/index.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/_X.ts
  packages/doom/styles/_mixins.scss
  packages/doom/styles/breadcrumb.scss
  packages/doom/styles/global.scss
  packages/doom/styles/login.module.scss
  packages/doom/styles/products.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add products and breadcrumb support (#321)
  .changeset/dull-canyons-feel.md
  .gitignore
  packages/doom/src/cli/translate.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/products/index.tsx
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/hooks/useSiteOverrides.ts
  packages/doom/src/runtime/translation.ts
  packages/doom/src/shared/context.ts
  packages/doom/src/theme/Breadcrumb/index.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/_X.ts
  packages/doom/styles/_mixins.scss
  packages/doom/styles/breadcrumb.scss
  packages/doom/styles/global.scss
  packages/doom/styles/login.module.scss
  packages/doom/styles/products.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#322)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

refactor(ai-assistant): use smart doc sse parser
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/utils.ts
  packages/doom/test/global/Intelligence/AIAssistant/utils.spec.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor(ai-assistant): upgrade smart-doc-sse-parser to 0.5.2 and use consumeSmartDocDisplayStream
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ChatRefDocs/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ThinkingProcess/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/types.ts
  packages/doom/src/global/Intelligence/AIAssistant/utils.ts
  packages/doom/styles/chat.module.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: use alauda scope doc stream sdk
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ChatRefDocs/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: review change
  packages/doom/src/global/Intelligence/AIAssistant/Chat/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: remove invalid spec ts
  packages/doom/test/global/Intelligence/AIAssistant/utils.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor(ai-assistant): use smart doc sse parser (#323)
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ChatRefDocs/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ThinkingProcess/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/types.ts
  packages/doom/src/global/Intelligence/AIAssistant/utils.ts
  packages/doom/styles/chat.module.scss
  packages/doom/test/global/Intelligence/AIAssistant/utils.spec.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: improve assistant style
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ThinkingProcess/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/styles/chat-ref-docs.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create wise-beds-learn.md
  .changeset/wise-beds-learn.md
Due: prettier --no-error-on-unmatched-pattern --write

Create two-moons-smell.md
  .changeset/two-moons-smell.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: improve assistant style (#329)
  .changeset/two-moons-smell.md
  .changeset/wise-beds-learn.md
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/Intelligence/AIAssistant/Chat/ThinkingProcess/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Chat/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/styles/chat-ref-docs.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix(cli): translate code block file paths
  fixture-docs/en/assets/reference.yaml
  fixture-docs/en/code-block.mdx
  fixture-docs/zh/code-block.mdx
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix(cli): ignore bare file meta tokens
  packages/doom/src/cli/helpers.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix(cli): support spaced file meta paths
  packages/doom/src/cli/helpers.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
