Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: should take unversioned `version`s into account for `-o, --out-dir` flag
  package.json
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `version` should be included in `outDir`
  package.json
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: exclude languages correctly for routes
  .gitattributes
  .prettierrc.json
  package.json
  src/cli/load-config.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `version` is already included in `base`
  package.json
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: display `<Toc />` automatically for small screen device
  package.json
  src/cli/load-config.ts
  src/global/VersionsNav/index.tsx
  src/plugins/auto-toc/index.ts
  src/plugins/auto-toc/remark-auto-toc.ts
  src/plugins/replace/parse-toc.ts
  src/plugins/replace/rehype-normalize-link.ts
  src/plugins/replace/utils.ts
  src/plugins/shared.ts
  src/runtime/translation.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev) deps
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

feat: change default AZURE_OPENAI_ENDPOINT, remove default AZURE_OPENAI_API_KEY
  .nvmrc
  fixture-docs/zh/other.mdx
  fixture-docs/zh/ref.md
  package.json
  src/cli/translate.ts
  src/global/VersionsNav/SvgWrapper.tsx
  src/runtime/components/Mermaid.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: tip about AZURE_OPENAI_API_KEY env
  docs/start.mdx
Due: prettier --no-error-on-unmatched-pattern --write

feat: display no issues tip as placeholder
  package.json
  src/cli/translate.ts
  src/plugins/replace/resolve-release.ts
  src/plugins/replace/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add new '-r, --redirect' cli arg
  docs/start.mdx
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: enable workflows for automatic management
  .build/ci.yaml
  .changeset/README.md
  .changeset/config.json
  .codesandbox/ci.json
  .github/FUNDING.yml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/cool-planets-fold.md
Due: prettier --no-error-on-unmatched-pattern --write

ci: enable workflows for automatic management (#1)
  .build/ci.yaml
  .changeset/README.md
  .changeset/config.json
  .changeset/cool-planets-fold.md
  .codesandbox/ci.json
  .github/FUNDING.yml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: cleanup unused contents
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .renovaterc
  .yarnrc.yml
  package.json
  pyodide/package.json
Due: prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/five-geese-create.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: cleanup unused contents (#3)
  .changeset/five-geese-create.md
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .renovaterc
  .yarnrc.yml
  package.json
  pyodide/package.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#4)
  404.html
  apis/advanced-apis/codeQualityTaskSummary.html
  apis/advanced-apis/event/index.html
  apis/advanced-apis/event/search.html
  apis/advanced-apis/index.html
  apis/advanced-apis/log/aggregation.html
  apis/advanced-apis/log/index.html
  apis/advanced-apis/log/search.html
  apis/advanced-apis/projects.html
  apis/crds/ArtifactCleanupRun.html
  apis/crds/index.html
  apis/index.html
  apis/references/CodeQuality.html
  apis/references/CodeQualityBranch.html
  apis/references/index.html
  index.html
  start.html
  static/js/index.83262b13.js
  usage/api.html
  usage/configuration.html
  usage/convention.html
  usage/deploy.html
  usage/i18n.html
  usage/index.html
  usage/markdown.html
  usage/mdx.html
  usage/permission.html
  usage/reference.html
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: pdf download link not displayed correctly
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pkg-pr-new.yml
  LICENSE
  README.md
  package.json
  src/cli/merge-pdfs/index.ts
  src/global/VersionsNav/index.tsx
  src/plugins/replace/index.ts
  src/plugins/replace/resolve-reference.ts
  src/plugins/replace/resolve-release.ts
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create weak-actors-attend.md
  .changeset/weak-actors-attend.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: add `keywords` field
  .prettierrc.json
  package.json
Due: prettier --no-error-on-unmatched-pattern --write

fix: pdf download link not displayed correctly (#5)
  .changeset/weak-actors-attend.md
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pkg-pr-new.yml
  .prettierrc.json
  LICENSE
  README.md
  package.json
  src/cli/merge-pdfs/index.ts
  src/global/VersionsNav/index.tsx
  src/plugins/replace/index.ts
  src/plugins/replace/resolve-reference.ts
  src/plugins/replace/resolve-release.ts
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: pdf download link not displayed correctly (#5)
  404.html
  CNAME
  Doom-zh.pdf
  apis/advanced-apis/codeQualityTaskSummary.html
  apis/advanced-apis/event/index.html
  apis/advanced-apis/event/search.html
  apis/advanced-apis/index.html
  apis/advanced-apis/log/aggregation.html
  apis/advanced-apis/log/index.html
  apis/advanced-apis/log/search.html
  apis/advanced-apis/projects.html
  apis/crds/ArtifactCleanupRun.html
  apis/crds/index.html
  apis/index.html
  apis/references/CodeQuality.html
  apis/references/CodeQualityBranch.html
  apis/references/index.html
  index.html
  start.html
  static/js/7092.05ba4ee9.js
  static/js/7092.05ba4ee9.js.LICENSE.txt
  static/js/index.2d63d4df.js
  static/js/index.83262b13.js
  usage/api.html
  usage/configuration.html
  usage/convention.html
  usage/deploy.html
  usage/i18n.html
  usage/index.html
  usage/markdown.html
  usage/mdx.html
  usage/permission.html
  usage/reference.html
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: remove unnecessary `-p doom` arg for `doom.js.org`
  .github/workflows/gh-pages.yml
Due: prettier --no-error-on-unmatched-pattern --write

ci: remove unnecessary `-p doom` arg for `doom.js.org`
  404.html
  Doom-zh.pdf
  apis/advanced-apis/codeQualityTaskSummary.html
  apis/advanced-apis/event/index.html
  apis/advanced-apis/event/search.html
  apis/advanced-apis/index.html
  apis/advanced-apis/log/aggregation.html
  apis/advanced-apis/log/index.html
  apis/advanced-apis/log/search.html
  apis/advanced-apis/projects.html
  apis/crds/ArtifactCleanupRun.html
  apis/crds/index.html
  apis/index.html
  apis/references/CodeQuality.html
  apis/references/CodeQualityBranch.html
  apis/references/index.html
  index.html
  start.html
  static/js/7092.221fcb8a.js
  static/js/7092.221fcb8a.js.LICENSE.txt
  static/js/index.1298c34c.js
  static/search_index.zh.4b859e0e.json
  static/search_index.zh.f4e7cea7.json
  usage/api.html
  usage/configuration.html
  usage/convention.html
  usage/deploy.html
  usage/i18n.html
  usage/index.html
  usage/markdown.html
  usage/mdx.html
  usage/permission.html
  usage/reference.html
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#6)
  Doom-zh.pdf
Due: none

feat: change default `redirect` to `only-default-lang` instead
  docs/start.mdx
  package.json
  src/cli/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create purple-vans-guess.md
  .changeset/purple-vans-guess.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: change default `redirect` to `only-default-lang` instead (#7)
  .changeset/purple-vans-guess.md
  docs/start.mdx
  package.json
  src/cli/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add `editRepoBaseUrl` config and `-R, --edit-repo` cli flag support
  .github/workflows/gh-pages.yml
  docs/start.mdx
  docs/usage/configuration.md
  doom.config.yml
  fixture-docs/doom.config.yml
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/cli/new.ts
  src/shared/constants.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create silent-moles-yell.md
  .changeset/silent-moles-yell.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add `editRepoBaseUrl` config and `-R, --edit-repo` cli flag support (#9)
  .changeset/silent-moles-yell.md
  .github/workflows/gh-pages.yml
  docs/start.mdx
  docs/usage/configuration.md
  doom.config.yml
  fixture-docs/doom.config.yml
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/cli/new.ts
  src/shared/constants.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add `editRepoBaseUrl` config and `-R, --edit-repo` cli flag support (#9)
  404.html
  Doom-zh.pdf
  apis/advanced-apis/codeQualityTaskSummary.html
  apis/advanced-apis/event/index.html
  apis/advanced-apis/event/search.html
  apis/advanced-apis/index.html
  apis/advanced-apis/log/aggregation.html
  apis/advanced-apis/log/index.html
  apis/advanced-apis/log/search.html
  apis/advanced-apis/projects.html
  apis/crds/ArtifactCleanupRun.html
  apis/crds/index.html
  apis/index.html
  apis/references/CodeQuality.html
  apis/references/CodeQualityBranch.html
  apis/references/index.html
  index.html
  start.html
  static/js/5093.1b57871e.js
  static/js/5093.dd85a348.js
  static/js/5093.dd85a348.js.LICENSE.txt
  static/js/async/2887.311e35df.js
  static/js/async/2887.e715bb68.js
  static/js/async/958.47fd45ee.js
  static/js/async/958.a17311d5.js
  static/js/index.06cb89d8.js
  static/search_index.zh.e1a09e5f.json
  static/search_index.zh.f4e7cea7.json
  usage/api.html
  usage/configuration.html
  usage/convention.html
  usage/deploy.html
  usage/i18n.html
  usage/index.html
  usage/markdown.html
  usage/mdx.html
  usage/permission.html
  usage/reference.html
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#8)
  Doom-zh.pdf
Due: none

chore: replace incorrect `|` with `│`
  docs/en/usage/api.md
  docs/en/usage/deploy.md
  docs/zh/usage/deploy.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: tiny improvements
  docs/en/usage/reference.md
  docs/zh/usage/configuration.md
  docs/zh/usage/reference.md
  doom.config.yml
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
