Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

fix: export entry should be relative to docs directory instead (#102)
  .changeset/silly-zebras-itch.md
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#103)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: support remark-attributes extension
  docs/en/usage/markdown.md
  docs/zh/usage/markdown.md
  package.json
  shim.d.ts
  src/cli/load-config.ts
  src/plugins/attributes/index.ts
  src/plugins/attributes/remark-attributes/attributes-transformer.ts
  src/plugins/attributes/remark-attributes/index.ts
  src/plugins/attributes/remark-attributes/mdast-attributes.ts
  src/plugins/attributes/remark-attributes/micromark-attributes.ts
  src/plugins/attributes/remark-attributes/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create grumpy-apricots-relax.md
  .changeset/grumpy-apricots-relax.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: support remark-attributes extension (#104)
  .changeset/grumpy-apricots-relax.md
  docs/en/usage/markdown.md
  docs/zh/usage/markdown.md
  package.json
  shim.d.ts
  src/cli/load-config.ts
  src/plugins/attributes/index.ts
  src/plugins/attributes/remark-attributes/attributes-transformer.ts
  src/plugins/attributes/remark-attributes/index.ts
  src/plugins/attributes/remark-attributes/mdast-attributes.ts
  src/plugins/attributes/remark-attributes/micromark-attributes.ts
  src/plugins/attributes/remark-attributes/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#105)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: remove unnecessary lang part in external site link
  .changeset/two-knives-flow.md
  src/runtime/components/ExternalSiteLink.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: remove unnecessary lang part in external site link (#106)
  .changeset/two-knives-flow.md
  src/runtime/components/ExternalSiteLink.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#107)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: loop all locales, don't `return` on the first item
  src/theme.tsx
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/fair-moons-join.md
  .changeset/ripe-spoons-glow.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: loop all locales, don't return on the first item (#108)
  .changeset/fair-moons-join.md
  .changeset/ripe-spoons-glow.md
  src/theme.tsx
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: better support multiple levels of ol list
  fixture-docs/en/ol-level.md
  src/theme.tsx
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/upset-pans-film.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: better support multiple levels of ol list (#110)
  .changeset/upset-pans-film.md
  fixture-docs/en/ol-level.md
  src/theme.tsx
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#109)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: support matching multiple scopes
  fixture-docs/doom.config.yml
  src/cli/export.ts
  src/cli/load-config.ts
  src/theme.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/pink-walls-wonder.md
  .changeset/sharp-donkeys-argue.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: deduplicate exporting pages
  fixture-docs/doom.config.yml
  src/cli/export.ts
  src/cli/helpers.ts
  src/cli/load-config.ts
  src/theme.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: support matching multiple scopes (#111)
  .changeset/pink-walls-wonder.md
  .changeset/sharp-donkeys-argue.md
  fixture-docs/doom.config.yml
  src/cli/export.ts
  src/cli/helpers.ts
  src/cli/load-config.ts
  src/theme.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

add
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Apply suggestions from code review
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create twelve-mugs-accept.md
  .changeset/twelve-mugs-accept.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add `AZURE_OPENAI_MODEL` env support (#112)
  .changeset/twelve-mugs-accept.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#113)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump all (dev)Dependencies
  package.json
  pyodide/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies (#114)
  fixture-docs/en/development/component-quickstart/index.md
  fixture-docs/en/install/installing.mdx
  fixture-docs/en/install/overview.mdx
  fixture-docs/en/install/prerequisites.mdx
  fixture-docs/ru/development/component-quickstart/index.md
  fixture-docs/ru/install/installing.mdx
  fixture-docs/ru/install/overview.mdx
  fixture-docs/ru/install/prerequisites.mdx
  fixture-docs/zh/install/installing.mdx
  fixture-docs/zh/install/overview.mdx
  fixture-docs/zh/install/prerequisites.mdx
  package.json
  pyodide/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

docs: `export.entry` is `export.scope` now
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
Due: prettier --no-error-on-unmatched-pattern --write
