Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

chore: release @alauda/doom
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

fix: ref in #/components/requestBodies/
  docs/en/apis/advanced_apis/gitops/applicationsets.mdx
  docs/en/apis/advanced_apis/gitops/index.mdx
  docs/shared/openapis/gitops-api.json
  docs/zh/apis/advanced_apis/gitops/applicationsets.mdx
  docs/zh/apis/advanced_apis/gitops/index.mdx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/components/_RefLink.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create slimy-colts-hear.md
  .changeset/slimy-colts-hear.md
Due: prettier --no-error-on-unmatched-pattern --write

chore(deps): bump glob in the npm_and_yarn group across 1 directory
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat: add new rule no-unmatched-anchor
  .changeset/fluffy-bears-occur.md
  docs/en/apis/advanced_apis/gitops/applicationsets.mdx
  docs/en/apis/advanced_apis/gitops/index.mdx
  docs/en/usage/api.md
  docs/en/usage/configuration.md
  docs/en/usage/mdx.mdx
  docs/zh/usage/api.md
  docs/zh/usage/configuration.md
  docs/zh/usage/mdx.mdx
  eslint.config.js
  fixture-docs/en/install/prerequisites.mdx
  packages/doom/src/cli/lint.ts
  packages/doom/src/eslint.ts
  packages/doom/src/plugins/auto-sidebar/utils.ts
  packages/doom/src/plugins/replace/parse-toc.ts
  packages/doom/src/remark-lint/check-dead-links.ts
  packages/doom/src/remark-lint/constants.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/list-item-punctuation.ts
  packages/doom/src/remark-lint/maximum-link-content-length.ts
  packages/doom/src/remark-lint/no-heading-punctuation.ts
  packages/doom/src/remark-lint/no-unmatched-anchor.ts
  packages/doom/src/remark-lint/site.ts
  packages/doom/src/remark-lint/utils.ts
  packages/doom/src/remarkrc.ts
  packages/doom/src/shared/helpers.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add new `callout` directive and component
  .changeset/seven-moments-take.md
  docs/en/usage/markdown.md
  docs/en/usage/mdx.mdx
  docs/zh/usage/markdown.md
  docs/zh/usage/mdx.mdx
  packages/doom/package.json
  packages/doom/src/plugins/directives/remark-directives.ts
  packages/doom/src/remark-lint/no-unmatched-anchor.ts
  packages/doom/src/runtime/components/Callout.tsx
  packages/doom/src/runtime/components/Callouts.tsx
  packages/doom/src/runtime/components/index.ts
  packages/doom/styles/global.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: ignore API referenc anchors
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore: ignore API reference anchors
  packages/doom/src/remark-lint/no-unmatched-anchor.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: ignore API reference anchors
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore: simplify error message with how to fix
  packages/doom/src/remark-lint/no-unmatched-anchor.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: simplify error message with how to fix
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore(deps): bump flatted in the npm_and_yarn group across 1 directory
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat: deduplicate shared refs with a single component
  .changeset/forty-brooms-pull.md
  docs/en/apis/advanced_apis/event/search.mdx
  docs/en/apis/advanced_apis/gitops/applicationsets.mdx
  docs/en/apis/advanced_apis/log/aggregation.mdx
  docs/en/apis/advanced_apis/log/search.mdx
  docs/zh/apis/advanced_apis/event/search.mdx
  docs/zh/apis/advanced_apis/gitops/applicationsets.mdx
  docs/zh/apis/advanced_apis/log/aggregation.mdx
  docs/zh/apis/advanced_apis/log/search.mdx
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/no-multi-open-api-paths.ts
  packages/doom/src/remark-lint/site.ts
  packages/doom/src/remarkrc.ts
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/components/_HeadingTitle.tsx
  packages/doom/src/runtime/components/_RefLink.tsx
  packages/doom/src/runtime/components/_context.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support download links
  packages/doom/src/runtime/components/_X.tsx
  packages/doom/src/theme/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create metal-ducks-brush.md
  .changeset/metal-ducks-brush.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

fix: should only consider stable original config nav length
  packages/doom/src/theme/VersionsNav/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create brown-crabs-fry.md
  .changeset/brown-crabs-fry.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: should only consider stable original config nav length (#297)
  .changeset/brown-crabs-fry.md
  packages/doom/src/theme/VersionsNav/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: merged pdf outline could be broken
  packages/export/src/export-pdf-core/utils/mergePDF.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create metal-bags-train.md
  .changeset/metal-bags-train.md
Due: prettier --no-error-on-unmatched-pattern --write

chore!: bump eslint v10
  .changeset/five-garlics-rescue.md
  eslint.config.js
  package.json
  packages/doom/package.json
  packages/doom/src/eslint.ts
  packages/doom/src/runtime/components/K8sCrd.tsx
  packages/doom/src/runtime/components/K8sPermissionTable.tsx
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/hooks/useInterval.ts
  packages/doom/src/runtime/hooks/useMemoizedFn.ts
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore!: bump eslint v10 (#301)
  .changeset/five-garlics-rescue.md
  eslint.config.js
  package.json
  packages/doom/package.json
  packages/doom/src/eslint.ts
  packages/doom/src/runtime/components/K8sCrd.tsx
  packages/doom/src/runtime/components/K8sPermissionTable.tsx
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/hooks/useInterval.ts
  packages/doom/src/runtime/hooks/useMemoizedFn.ts
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
