Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: pdf missing outlines
  .changeset/pretty-clowns-tease.md
  packages/doom/src/cli/export.ts
  packages/export/src/export-pdf-core/utils/mergePDF.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: pdf missing outlines
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

Create nine-plums-film.md
  .changeset/nine-plums-film.md
Due: prettier --no-error-on-unmatched-pattern --write

fix(deps): update all dependencies
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

chore(deps): bump glob in the npm_and_yarn group across 1 directory
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

ci: install Chinese fonts first for exporting pdf
  .github/workflows/gh-pages.yml
Due: prettier --no-error-on-unmatched-pattern --write

ci: install Chinese fonts first for exporting pdf
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

chore(deps): bump svgo in the npm_and_yarn group across 1 directory
  Doom-en.pdf
  Doom-zh.pdf
  Event APIs-en.pdf
  Event APIs-zh.pdf
  Usage-en.pdf
  Usage-zh.pdf
  sitemap.xml
Due: none

feat: support adding api export entries automatically
  .changeset/fine-stars-glow.md
  doom.config.yml
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/theme/Layout.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: fix a tiny css priority issue
  packages/doom/styles/global.scss
Due: none

chore: release @alauda/doom
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

fix: always calculate export
  packages/doom/src/cli/load-config.ts
  packages/doom/src/theme/Layout.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create spotty-dryers-cry.md
  .changeset/spotty-dryers-cry.md
Due: prettier --no-error-on-unmatched-pattern --write

Create good-dolls-visit.md
  .changeset/good-dolls-visit.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all dependencies
  .changeset/neat-guests-rule.md
  .renovaterc
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: @eslint/js not found issue
  .changeset/goofy-monkeys-train.md
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: add @typescript-eslint/utils as dependency for eslint 10 compatibility across plugins
  .changeset/sour-taxis-doubt.md
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: downgrade to ESLint 9 temporarily
  .changeset/eleven-sites-notice.md
  .renovaterc
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
