Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: should prefer `originalTitle` over `title` for settled pdf name
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create cyan-oranges-confess.md
  .changeset/cyan-oranges-confess.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: should prefer `originalTitle` over `title` for settled pdf name (#13)
  .changeset/cyan-oranges-confess.md
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#14)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

feat: add new `lint` command
  .gitignore
  doom.config.yml
  eslint.config.js
  fixture-docs/doom.config.yml
  package.json
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/lint.ts
  src/cli/translate.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create weak-apricots-warn.md
  .changeset/weak-apricots-warn.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: known issues
  .github/workflows/ci.yml
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/en/usage/deploy.md
  docs/en/usage/reference.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  package.json
  src/cli/helpers.ts
  src/cli/lint.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add new `lint` command (#15)
  .changeset/weak-apricots-warn.md
  .github/workflows/ci.yml
  .gitignore
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/en/usage/deploy.md
  docs/en/usage/reference.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  doom.config.yml
  eslint.config.js
  fixture-docs/doom.config.yml
  package.json
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/lint.ts
  src/cli/translate.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#16)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

fix: use `overrideConfigFile: true` + `overrideConfig` instead
  src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create weak-scissors-chew.md
  .changeset/weak-scissors-chew.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: use `overrideConfigFile: true` + `overrideConfig` instead (#17)
  .changeset/weak-scissors-chew.md
  src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: use `overrideConfigFile: true` + `overrideConfig` instead (#17)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: release @alauda/doom (#18)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

feat: enable cspell `allowCompoundWords` option
  doom.config.yml
  fixture-docs/doom.config.yml
  src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create nine-needles-jog.md
  .changeset/nine-needles-jog.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: enable cspell `allowCompoundWords` option (#19)
  .changeset/nine-needles-jog.md
  doom.config.yml
  fixture-docs/doom.config.yml
  src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: enable cspell `allowCompoundWords` option (#19)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: release @alauda/doom (#20)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

feat: add `onlyIncludeRoutes` config support
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  fixture-docs/doom.config.yml
  src/cli/load-config.ts
  src/plugins/auto-sidebar/index.ts
  src/plugins/auto-sidebar/walk.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: enable `temperature: 0` for openai
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create young-snails-join.md
  .changeset/young-snails-join.md
Due: prettier --no-error-on-unmatched-pattern --write

Create fresh-zoos-sip.md
  .changeset/fresh-zoos-sip.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add `onlyIncludeRoutes` config support (#21)
  .changeset/fresh-zoos-sip.md
  .changeset/young-snails-join.md
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  fixture-docs/doom.config.yml
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/auto-sidebar/index.ts
  src/plugins/auto-sidebar/walk.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#22)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

fix: exclude index pages correctly
  fixture-docs/doom.config.yml
  src/plugins/auto-sidebar/walk.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create thick-panthers-juggle.md
  .changeset/thick-panthers-juggle.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: exclude index pages correctly (#23)
  .changeset/thick-panthers-juggle.md
  fixture-docs/doom.config.yml
  src/plugins/auto-sidebar/walk.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: exclude index pages correctly (#23)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: release @alauda/doom (#24)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: remove funding file
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: remove funding info
  .github/FUNDING.yml
  package.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: remove funding info
  Doom-en.pdf
  Doom-zh.pdf
Due: none

feat: add exporting log info
  .changeset/green-ants-raise.md
  .nvmrc
  src/cli/export-pdf-core/generatePdf.ts
  src/cli/export-pdf-core/utils/mergePDF.ts
  src/cli/export.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add exporting log info (#25)
  .changeset/green-ants-raise.md
  .nvmrc
  src/cli/export-pdf-core/generatePdf.ts
  src/cli/export-pdf-core/utils/mergePDF.ts
  src/cli/export.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add exporting log info (#25)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

chore: release @alauda/doom (#26)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
