Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Apply suggestion from @JounQin
  packages/doom/CHANGELOG.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#175)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect login state check
  .changeset/lovely-dots-vanish.md
  .changeset/spicy-trees-return.md
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/context.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: incorrect login state check (#176)
  .changeset/lovely-dots-vanish.md
  .changeset/spicy-trees-return.md
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/context.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump node version
  .nvmrc
Due: none

feat: support fixed language for edit repo
  docs/en/start.mdx
  docs/zh/start.mdx
  doom.config.yml
  package.json
  packages/doom/package.json
  packages/doom/src/cli/index.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/theme/EditLink.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Search.tsx
  packages/doom/src/theme/index.ts
  packages/doom/src/theme/useEditLink.ts
  packages/doom/styles/edit-link.module.scss
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create hungry-suits-play.md
  .changeset/hungry-suits-play.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: support fixed language for edit repo (#178)
  .changeset/hungry-suits-play.md
  docs/en/start.mdx
  docs/zh/start.mdx
  doom.config.yml
  package.json
  packages/doom/package.json
  packages/doom/src/cli/index.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/theme/EditLink.tsx
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Search.tsx
  packages/doom/src/theme/index.ts
  packages/doom/src/theme/useEditLink.ts
  packages/doom/styles/edit-link.module.scss
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create AGENTS.md file with initial content
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#179)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: add AGENTS.md following agents.md standard (#180)
  AGENTS.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: ignore `internalRoutes` when `--ignore` enabled
  packages/doom/src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create late-bees-draw.md
  .changeset/late-bees-draw.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: ignore `internalRoutes` when `--ignore` enabled (#182)
  .changeset/late-bees-draw.md
  packages/doom/src/cli/lint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#183)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: support check dead links in lint command
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/lint.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/plugins/api/index.ts
  packages/doom/src/plugins/attributes/index.ts
  packages/doom/src/plugins/attributes/remark-attributes/index.ts
  packages/doom/src/plugins/auto-sidebar/index.ts
  packages/doom/src/plugins/auto-sidebar/utils.ts
  packages/doom/src/plugins/auto-sidebar/walk.ts
  packages/doom/src/plugins/auto-toc/index.ts
  packages/doom/src/plugins/auto-toc/remark-auto-toc.ts
  packages/doom/src/plugins/directives/index.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/plugins/index.ts
  packages/doom/src/plugins/mermaid/index.ts
  packages/doom/src/plugins/permission/index.ts
  packages/doom/src/plugins/replace/index.ts
  packages/doom/src/plugins/replace/normalize-img-src.ts
  packages/doom/src/plugins/replace/parse-toc.ts
  packages/doom/src/plugins/replace/rehype-normalize-link.ts
  packages/doom/src/plugins/replace/remark-replace.ts
  packages/doom/src/plugins/replace/resolve-reference.ts
  packages/doom/src/plugins/shiki/index.ts
  packages/doom/src/plugins/shiki/transformers/index.ts
  packages/doom/src/remark-lint/check-dead-links.ts
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remarkrc.ts
  packages/doom/src/shared/index.ts
  packages/doom/src/types.ts
  packages/doom/src/utils/constants.ts
  packages/doom/src/utils/helpers.ts
  packages/doom/src/utils/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): bump all (dev)Dependencies
  package.json
  packages/doom/package.json
  packages/doom/src/remark-lint/check-dead-links.ts
  packages/export/package.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/metal-turkeys-pay.md
  .changeset/silly-rabbits-invite.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: remove unused Card and LinkCard components
  packages/doom/src/runtime/components/Card.ts
  packages/doom/src/runtime/components/LinkCard.ts
  packages/doom/src/runtime/components/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Update packages/doom/src/cli/load-config.ts
  packages/doom/src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: OPTIONS_FILE could be unavailable
  packages/doom/src/remark-lint/check-dead-links.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: specify lang via cli
  docs/en/start.mdx
  docs/zh/start.mdx
  packages/doom/src/cli/index.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create good-wombats-study.md
  .changeset/good-wombats-study.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: specify lang via cli (#187)
  .changeset/good-wombats-study.md
  docs/en/start.mdx
  docs/zh/start.mdx
  packages/doom/src/cli/index.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: change legacy docs usage
  packages/doom/src/global/VersionsNav/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create eighty-candles-wave.md
  .changeset/eighty-candles-wave.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: change legacy docs usage (#189)
  .changeset/eighty-candles-wave.md
  packages/doom/src/global/VersionsNav/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  .nvmrc
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  eslint.config.js
  package.json
  packages/doom/package.json
  packages/doom/src/cli/new.ts
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/hooks/useInterval.ts
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/runtime/hooks/useMemoizedFn.ts
  packages/doom/styles/overview.module.scss
  packages/export/package.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create slow-mice-doubt.md
  .changeset/slow-mice-doubt.md
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
