Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix(cli): update file meta path coverage
  .changeset/short-planes-heal.md
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix(cli): translate code block file paths (#332)
  .changeset/short-planes-heal.md
  fixture-docs/en/assets/reference.yaml
  fixture-docs/en/code-block.mdx
  fixture-docs/zh/code-block.mdx
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all dependencies
  package.json
  packages/doom/package.json
  packages/doom/src/cli/translate.ts
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/plugins/replace/parse-toc.ts
  packages/doom/src/runtime/components/K8sAPI.tsx
  packages/doom/src/runtime/components/Markdown.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/_HeadingTitle.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: update dependencies
  package.json
  packages/doom/package.json
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/remark-lint/check-dead-links.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add changeset
  .changeset/quiet-rivers-check.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor(cli): extract matter stringifier
  fixture-docs/zh/code-block.mdx
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all dependencies (#327)
  .changeset/quiet-rivers-check.md
  fixture-docs/zh/code-block.mdx
  package.json
  packages/doom/package.json
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/plugins/replace/parse-toc.ts
  packages/doom/src/remark-lint/check-dead-links.ts
  packages/doom/src/runtime/components/K8sAPI.tsx
  packages/doom/src/runtime/components/Markdown.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/_HeadingTitle.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  packages/doom/test/cli/helpers.spec.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: install playwright correctly
  .github/workflows/ci.yml
  packages/doom/package.json
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/theme/AutoExpandable.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: install playwright correctly
  .github/workflows/gh-pages.yml
Due: prettier --no-error-on-unmatched-pattern --write

chore: remove unnecessary anchor preprocessing
  fixture-docs/en/heading.mdx
  fixture-docs/zh/heading.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: improve code block translation handling
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add translation changeset
  .changeset/clean-codes-translate.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: improve code block translation handling (#333)
  .changeset/clean-codes-translate.md
  fixture-docs/en/heading.mdx
  fixture-docs/zh/heading.mdx
  packages/doom/src/cli/helpers.ts
  packages/doom/src/cli/translate.ts
  packages/doom/test/cli/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: improve code block translation handling (#333)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore: remove unnecessary prompt, translate fixture-docs
  fixture-docs/zh/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektontriggers.mdx
  fixture-docs/zh/connector-api.md
  fixture-docs/zh/development/component-quickstart/index.md
  fixture-docs/zh/directive.mdx
  fixture-docs/zh/index.mdx
  fixture-docs/zh/install/installing.mdx
  fixture-docs/zh/install/overview.mdx
  fixture-docs/zh/install/scalability.mdx
  fixture-docs/zh/link.md
  fixture-docs/zh/list.md
  fixture-docs/zh/ol-level.md
  fixture-docs/zh/other.mdx
  fixture-docs/zh/reference.mdx
  fixture-docs/zh/table.md
  fixture-docs/zh/test-escape.md
  fixture-docs/zh/text.md
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: remove unnecessary prompt, translate fixture-docs
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore: release @alauda/doom (#330)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

fix: sort products by displayName
  packages/doom/src/theme/Breadcrumb/index.tsx
  packages/doom/styles/products.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create spotty-items-train.md
  .changeset/spotty-items-train.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: sort products by displayName (#334)
  .changeset/spotty-items-train.md
  packages/doom/src/theme/Breadcrumb/index.tsx
  packages/doom/styles/products.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump dependencies
  .changeset/full-mugs-cheer.md
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump dependencies (#336)
  .changeset/full-mugs-cheer.md
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix code block copy in lists
  packages/doom/src/theme/CodeBlock.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add changeset for code block copy fix
  .changeset/fix-codeblock-copy-list-prefix.md
  AGENTS.md
Due: prettier --no-error-on-unmatched-pattern --write

ci: install playwright browsers with node 22
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
Due: prettier --no-error-on-unmatched-pattern --write

ci: use default playwright download host
  .env.yarn
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .gitignore
Due: prettier --no-error-on-unmatched-pattern --write

ci: update playwright for node 24
  .changeset/update-playwright-node-24.md
  packages/export/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: align init script type with playwright
  packages/export/src/html-export-pdf/core/printer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: prevent list marker in copied code blocks (#340)
  .changeset/fix-codeblock-copy-list-prefix.md
  .changeset/update-playwright-node-24.md
  .env.yarn
  .gitignore
  AGENTS.md
  packages/doom/src/theme/CodeBlock.tsx
  packages/export/package.json
  packages/export/src/html-export-pdf/core/printer.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: lint legacy OS names
  .changeset/add-legacy-os-name-lint.md
  .prettierignore
  eslint.config.js
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/no-legacy-os-names.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/remark-lint/no-legacy-os-names.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: type cli watcher events
  packages/doom/src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: type cli watcher events
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
