Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore!: alias deprecated K8sCrd to K8sAPI component
  docs/en/apis/crds/ArtifactCleanupRun-K8sCrd.mdx
  docs/en/usage/api.md
  docs/zh/apis/crds/ArtifactCleanupRun-K8sCrd.mdx
  docs/zh/usage/api.md
  fixture-docs/en/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/en/apis/kubernetes_apis/tektontriggers.mdx
  fixture-docs/ru/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektontriggers.mdx
  fixture-docs/zh/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektontriggers.mdx
  packages/doom/src/runtime/components/K8sCrd.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create eight-countries-attend.md
  .changeset/eight-countries-attend.md
Due: prettier --no-error-on-unmatched-pattern --write

chore!: alias deprecated K8sCrd to K8sAPI component (#303)
  .changeset/eight-countries-attend.md
  docs/en/apis/crds/ArtifactCleanupRun-K8sCrd.mdx
  docs/en/usage/api.md
  docs/zh/apis/crds/ArtifactCleanupRun-K8sCrd.mdx
  docs/zh/usage/api.md
  fixture-docs/en/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/en/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/en/apis/kubernetes_apis/tektontriggers.mdx
  fixture-docs/ru/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/ru/apis/kubernetes_apis/tektontriggers.mdx
  fixture-docs/zh/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonchains.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonconfig.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonhubs.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektoninstallersets.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonpipelines.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektonresults.mdx
  fixture-docs/zh/apis/kubernetes_apis/tektontriggers.mdx
  packages/doom/src/runtime/components/K8sCrd.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: resolve more components refs
  .changeset/wise-chicken-clean.md
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
  packages/doom/src/runtime/components/_RefLink.tsx
  packages/doom/src/runtime/utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: resolve more components refs (#304)
  .changeset/wise-chicken-clean.md
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
  packages/doom/src/runtime/components/_RefLink.tsx
  packages/doom/src/runtime/utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: use OpenAI compatible services instead, change related environments
  .changeset/orange-books-burn.md
  docs/en/start.mdx
  docs/zh/start.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: use OpenAI compatible services instead, change related environments (#306)
  .changeset/orange-books-burn.md
  docs/en/start.mdx
  docs/zh/start.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): update all dependencies (#308)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore: release @alauda/doom (#307)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

refactor: reconstruct types reference
  AGENTS.md
  package.json
  packages/doom/global.d.ts
  packages/doom/src/runtime/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: reconstruct types reference (#309)
  AGENTS.md
  package.json
  packages/doom/global.d.ts
  packages/doom/src/runtime/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

test: add rstest unit tests for doom and export packages
  .github/workflows/ci.yml
  package.json
  packages/doom/rstest.config.ts
  packages/doom/test/plugins/replace/parse-toc.test.ts
  packages/doom/test/plugins/replace/utils.test.ts
  packages/doom/test/remark-lint/_helper.ts
  packages/doom/test/remark-lint/list-item-punctuation.test.ts
  packages/doom/test/remark-lint/list-item-size.test.ts
  packages/doom/test/remark-lint/list-table-introduction.test.ts
  packages/doom/test/remark-lint/maximum-link-content-length.test.ts
  packages/doom/test/remark-lint/no-deep-heading.test.ts
  packages/doom/test/remark-lint/no-deep-list.test.ts
  packages/doom/test/remark-lint/no-empty-table-cell.test.ts
  packages/doom/test/remark-lint/no-heading-punctuation.test.ts
  packages/doom/test/remark-lint/no-heading-special-characters.test.ts
  packages/doom/test/remark-lint/no-heading-sup-sub.test.ts
  packages/doom/test/remark-lint/no-multi-open-api-paths.test.ts
  packages/doom/test/remark-lint/no-paragraph-indent.test.ts
  packages/doom/test/remark-lint/table-size.test.ts
  packages/doom/test/remark-lint/unit-case.test.ts
  packages/doom/test/tsconfig.json
  packages/doom/test/utils/helpers.test.ts
  packages/export/rstest.config.ts
  packages/export/test/export-pdf-core/utils/convertPathToPosix.test.ts
  packages/export/test/export-pdf-core/utils/getUrlLink.test.ts
  packages/export/test/html-export-pdf/utils/isValidUrl.test.ts
  packages/export/test/html-export-pdf/utils/replaceExt.test.ts
  packages/export/test/merge-pdfs/formatDate.test.ts
  packages/export/test/tsconfig.json
  rstest.config.ts
  tsconfig.test.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add AGENTS.md knowledge base and OpenSpec scaffolding
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  AGENTS.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/.openspec.yaml
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/design.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/proposal.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/specs/remark-lint-tests/spec.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/specs/test-infrastructure/spec.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/specs/utility-tests/spec.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/tasks.md
  openspec/config.yaml
  packages/doom/AGENTS.md
  packages/doom/src/cli/AGENTS.md
  packages/doom/src/plugins/AGENTS.md
  packages/doom/src/remark-lint/AGENTS.md
  packages/doom/src/runtime/AGENTS.md
  packages/doom/src/theme/AGENTS.md
  packages/export/AGENTS.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: reconstruct types reference (#309)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

refactor: simplify infra structure
  package.json
  packages/doom/rstest.config.ts
  packages/doom/test/tsconfig.json
  packages/doom/tsconfig.json
  packages/export/rstest.config.ts
  packages/export/test/tsconfig.json
  packages/export/tsconfig.json
  rstest.config.ts
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: rename .test.ts files to .spec.ts
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/specs/test-infrastructure/spec.md
  packages/doom/test/plugins/replace/parse-toc.spec.ts
  packages/doom/test/plugins/replace/utils.spec.ts
  packages/doom/test/remark-lint/list-item-punctuation.spec.ts
  packages/doom/test/remark-lint/list-item-size.spec.ts
  packages/doom/test/remark-lint/list-table-introduction.spec.ts
  packages/doom/test/remark-lint/maximum-link-content-length.spec.ts
  packages/doom/test/remark-lint/no-deep-heading.spec.ts
  packages/doom/test/remark-lint/no-deep-list.spec.ts
  packages/doom/test/remark-lint/no-empty-table-cell.spec.ts
  packages/doom/test/remark-lint/no-heading-punctuation.spec.ts
  packages/doom/test/remark-lint/no-heading-special-characters.spec.ts
  packages/doom/test/remark-lint/no-heading-sup-sub.spec.ts
  packages/doom/test/remark-lint/no-multi-open-api-paths.spec.ts
  packages/doom/test/remark-lint/no-paragraph-indent.spec.ts
  packages/doom/test/remark-lint/table-size.spec.ts
  packages/doom/test/remark-lint/unit-case.spec.ts
  packages/doom/test/utils/helpers.spec.ts
  packages/export/test/export-pdf-core/utils/convertPathToPosix.spec.ts
  packages/export/test/export-pdf-core/utils/getUrlLink.spec.ts
  packages/export/test/html-export-pdf/utils/isValidUrl.spec.ts
  packages/export/test/html-export-pdf/utils/replaceExt.spec.ts
  packages/export/test/merge-pdfs/formatDate.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: add subpath imports and split lint scripts
  package.json
  packages/doom/package.json
  packages/doom/test/plugins/replace/parse-toc.spec.ts
  packages/doom/test/plugins/replace/utils.spec.ts
  packages/doom/test/remark-lint/_helper.ts
  packages/doom/test/remark-lint/list-item-punctuation.spec.ts
  packages/doom/test/remark-lint/list-item-size.spec.ts
  packages/doom/test/remark-lint/list-table-introduction.spec.ts
  packages/doom/test/remark-lint/maximum-link-content-length.spec.ts
  packages/doom/test/remark-lint/no-deep-heading.spec.ts
  packages/doom/test/remark-lint/no-deep-list.spec.ts
  packages/doom/test/remark-lint/no-empty-table-cell.spec.ts
  packages/doom/test/remark-lint/no-heading-punctuation.spec.ts
  packages/doom/test/remark-lint/no-heading-special-characters.spec.ts
  packages/doom/test/remark-lint/no-heading-sup-sub.spec.ts
  packages/doom/test/remark-lint/no-multi-open-api-paths.spec.ts
  packages/doom/test/remark-lint/no-paragraph-indent.spec.ts
  packages/doom/test/remark-lint/table-size.spec.ts
  packages/doom/test/remark-lint/unit-case.spec.ts
  packages/doom/test/utils/helpers.spec.ts
  packages/export/package.json
  packages/export/test/export-pdf-core/utils/convertPathToPosix.spec.ts
  packages/export/test/export-pdf-core/utils/getUrlLink.spec.ts
  packages/export/test/html-export-pdf/utils/isValidUrl.spec.ts
  packages/export/test/html-export-pdf/utils/replaceExt.spec.ts
  packages/export/test/merge-pdfs/formatDate.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: update openspec change artifacts
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/design.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/proposal.md
  openspec/changes/archive/2026-04-09-add-rstest-unit-tests/tasks.md
Due: prettier --no-error-on-unmatched-pattern --write

docs: update AGENTS.md files with rstest unit testing info
  AGENTS.md
  packages/doom/AGENTS.md
  packages/doom/src/plugins/AGENTS.md
  packages/doom/src/remark-lint/AGENTS.md
  packages/doom/test/plugins/replace/parse-toc.spec.ts
  packages/export/AGENTS.md
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

test: improve unit test coverage for doom and export packages
  eslint.config.js
  package.json
  packages/doom/src/plugins/auto-sidebar/utils.ts
  packages/doom/src/plugins/replace/utils.ts
  packages/doom/src/utils/fs.ts
  packages/doom/test/cli/helpers.spec.ts
  packages/doom/test/plugins/auto-sidebar/utils.spec.ts
  packages/doom/test/plugins/auto-toc/remark-auto-toc.spec.ts
  packages/doom/test/plugins/directives/remark-directives.spec.ts
  packages/doom/test/plugins/mermaid/remark-mermaid.spec.ts
  packages/doom/test/plugins/replace/rehype-normalize-link.spec.ts
  packages/doom/test/plugins/replace/utils.spec.ts
  packages/doom/test/plugins/shared.spec.ts
  packages/doom/test/plugins/shiki/transformers/callouts.spec.ts
  packages/doom/test/remark-lint/utils.spec.ts
  packages/doom/test/shared/constants.spec.ts
  packages/doom/test/shared/helpers.spec.ts
  packages/doom/test/utils/fs.spec.ts
  packages/export/test/helpers.spec.ts
  packages/export/test/html-export-pdf/utils/fs.spec.ts
  packages/export/test/html-export-pdf/utils/getAbsFileName.spec.ts
  packages/export/test/html-export-pdf/utils/getDirname.spec.ts
  packages/export/test/html-export-pdf/utils/optionsCustomProcessing.spec.ts
  rstest.config.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Update packages/doom/test/plugins/replace/utils.spec.ts
  packages/doom/test/plugins/replace/utils.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: remove duplicate test block and scope eslint rule to test files
  eslint.config.js
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: improve cases
  packages/doom/test/plugins/shiki/transformers/callouts.spec.ts
  packages/doom/test/utils/helpers.spec.ts
  packages/export/test/helpers.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

test: improve unit test coverage for doom and export packages (#310)
  eslint.config.js
  package.json
  packages/doom/src/plugins/auto-sidebar/utils.ts
  packages/doom/src/plugins/replace/utils.ts
  packages/doom/src/utils/fs.ts
  packages/doom/test/cli/helpers.spec.ts
  packages/doom/test/plugins/auto-sidebar/utils.spec.ts
  packages/doom/test/plugins/auto-toc/remark-auto-toc.spec.ts
  packages/doom/test/plugins/directives/remark-directives.spec.ts
  packages/doom/test/plugins/mermaid/remark-mermaid.spec.ts
  packages/doom/test/plugins/replace/rehype-normalize-link.spec.ts
  packages/doom/test/plugins/replace/utils.spec.ts
  packages/doom/test/plugins/shared.spec.ts
  packages/doom/test/plugins/shiki/transformers/callouts.spec.ts
  packages/doom/test/remark-lint/utils.spec.ts
  packages/doom/test/shared/constants.spec.ts
  packages/doom/test/shared/helpers.spec.ts
  packages/doom/test/utils/fs.spec.ts
  packages/doom/test/utils/helpers.spec.ts
  packages/export/test/helpers.spec.ts
  packages/export/test/html-export-pdf/utils/fs.spec.ts
  packages/export/test/html-export-pdf/utils/getAbsFileName.spec.ts
  packages/export/test/html-export-pdf/utils/getDirname.spec.ts
  packages/export/test/html-export-pdf/utils/optionsCustomProcessing.spec.ts
  rstest.config.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

test: improve unit test coverage for doom and export packages (#310)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

chore(deps): bump glob from 10.4.5 to 10.5.0 in the npm_and_yarn group across 1 directory (#311)
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

ci: enable codecov
  .github/workflows/ci.yml
  .renovaterc
Due: prettier --no-error-on-unmatched-pattern --write

ci: enable codecov
  Doom-en.pdf
  Doom-zh.pdf
  event_apis-en.pdf
  event_apis-zh.pdf
  gitops_apis-en.pdf
  gitops_apis-zh.pdf
  log_apis-en.pdf
  log_apis-zh.pdf
  sitemap.xml
  usage-en.pdf
  usage-zh.pdf
  workload_apis-en.pdf
  workload_apis-zh.pdf
Due: none

feat(remark-lint): add title-required rule
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/title-required.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/remark-lint/title-required.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create smart-birds-hug.md
  .changeset/smart-birds-hug.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: handle null frontmatter parse result safely
  packages/doom/src/remark-lint/title-required.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: detect multiple h1 elements within single HTML node
  packages/doom/src/remark-lint/title-required.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat(remark-lint): add title-required rule (#312)
  .changeset/smart-birds-hug.md
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/title-required.ts
  packages/doom/src/remarkrc.ts
  packages/doom/test/remark-lint/title-required.spec.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
