Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

chore: enable `lazy` mode by default
  docs/en/start.mdx
  docs/zh/start.mdx
  src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create real-clouds-build.md
  .changeset/real-clouds-build.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: enable `lazy` mode by default (#88)
  .changeset/real-clouds-build.md
  docs/en/start.mdx
  docs/zh/start.mdx
  src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#89)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: export `Markdown` component for reusing
  .changeset/proud-boats-wink.md
  package.json
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/Markdown.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: export `Markdown` component for reusing (#90)
  .changeset/proud-boats-wink.md
  package.json
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/Markdown.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#91)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: add chunk-based translation for large files to handle TPM limits
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create selfish-worms-help.md
  .changeset/selfish-worms-help.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add chunk-based translation for large files to handle TPM limits (#92)
  .changeset/selfish-worms-help.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add chunk-based translation for large files to handle TPM limits (#92)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#93)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect auto generated API anchor links
  package.json
  src/plugins/sitemap/index.ts
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_RefLink.tsx
  src/runtime/components/_context.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create selfish-squids-move.md
  .changeset/selfish-squids-move.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: incorrect auto generated API anchor links (#94)
  .changeset/selfish-squids-move.md
  package.json
  src/plugins/sitemap/index.ts
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_RefLink.tsx
  src/runtime/components/_context.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: common reference should not use uid
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_RefLink.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#95)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: better integration with editor
  .cspell/devops.txt
  .cspell/k8s.txt
  .github/workflows/ci.yml
  cspell.config.js
  doom.config.yml
  eslint.config.js
  fixture-docs/en/test/managedtap.mdx
  package.json
  src/cli/lint.ts
  src/cli/load-config.ts
  src/cspell.ts
  src/eslint.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: use negative word instead
  fixture-docs/en/test/managedtap.mdx
  src/cspell.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/wicked-beds-teach.md
  docs/en/start.mdx
  docs/zh/start.mdx
Due: prettier --no-error-on-unmatched-pattern --write

chore: add ignores and suggestions
  .github/workflows/pkg-pr-new.yml
  docs/en/start.mdx
  docs/zh/start.mdx
  eslint.config.js
  src/cspell.ts
  src/eslint.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: better integration with editor (#96)
  .changeset/wicked-beds-teach.md
  .cspell/devops.txt
  .cspell/k8s.txt
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  cspell.config.js
  docs/en/start.mdx
  docs/zh/start.mdx
  doom.config.yml
  eslint.config.js
  fixture-docs/en/test/managedtap.mdx
  package.json
  src/cli/lint.ts
  src/cli/load-config.ts
  src/cspell.ts
  src/eslint.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#97)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: unescape unexpected symbols in sidebar
  eslint.config.js
  fixture-docs/en/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/en/index.mdx
  fixture-docs/en/test-escape.md
  fixture-docs/ru/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/ru/code-title.md
  fixture-docs/ru/index.mdx
  fixture-docs/ru/other.mdx
  fixture-docs/ru/ref.md
  fixture-docs/ru/release_notes.mdx
  fixture-docs/ru/test-escape.md
  fixture-docs/ru/test/managedtap.mdx
  fixture-docs/zh/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/zh/index.mdx
  fixture-docs/zh/test-escape.md
  fixture-docs/zh/test/managedtap.mdx
  package.json
  src/cli/load-config.ts
  src/plugins/auto-sidebar/utils.ts
  src/plugins/replace/utils.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create stupid-sloths-relax.md
  .changeset/stupid-sloths-relax.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: lint fix
  docs/en/start.mdx
  docs/zh/start.mdx
  src/cli/helpers.ts
  src/cli/html-export-pdf/core/outline.ts
  src/cli/translate.ts
  src/plugins/replace/remark-replace.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: unescape unexpected symbols in sidebar (#98)
  .changeset/stupid-sloths-relax.md
  docs/en/start.mdx
  docs/zh/start.mdx
  eslint.config.js
  fixture-docs/en/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/en/index.mdx
  fixture-docs/en/test-escape.md
  fixture-docs/ru/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/ru/code-title.md
  fixture-docs/ru/index.mdx
  fixture-docs/ru/other.mdx
  fixture-docs/ru/ref.md
  fixture-docs/ru/release_notes.mdx
  fixture-docs/ru/test-escape.md
  fixture-docs/ru/test/managedtap.mdx
  fixture-docs/zh/apis/kubernetes_apis/openshiftpipelinesascodes.mdx
  fixture-docs/zh/index.mdx
  fixture-docs/zh/test-escape.md
  fixture-docs/zh/test/managedtap.mdx
  package.json
  src/cli/helpers.ts
  src/cli/html-export-pdf/core/outline.ts
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/auto-sidebar/utils.ts
  src/plugins/replace/remark-replace.ts
  src/plugins/replace/utils.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support export single entry as PDF
  .changeset/spicy-glasses-own.md
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  fixture-docs/doom.config.yml
  src/cli/export-pdf-core/generatePdf.ts
  src/cli/export-pdf-core/utils/mergePDF.ts
  src/cli/export.ts
  src/cli/load-config.ts
  src/global/VersionsNav/index.tsx
  src/plugins/global/index.ts
  src/runtime/translation.ts
  src/theme.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support export single entry as PDF (#100)
  .changeset/spicy-glasses-own.md
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  fixture-docs/doom.config.yml
  src/cli/export-pdf-core/generatePdf.ts
  src/cli/export-pdf-core/utils/mergePDF.ts
  src/cli/export.ts
  src/cli/load-config.ts
  src/global/VersionsNav/index.tsx
  src/plugins/global/index.ts
  src/runtime/translation.ts
  src/theme.tsx
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: export entry should be relative to docs directory instead
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create silly-zebras-itch.md
  .changeset/silly-zebras-itch.md
Due: prettier --no-error-on-unmatched-pattern --write
