Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

chore: tiny improvement of translate prompt (#41)
  .changeset/afraid-buttons-decide.md
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `facet` should be `lang:` instead of `language:`
  .changeset/icy-sloths-sit.md
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `facet` should be `lang:` instead of `language:` (#42)
  .changeset/icy-sloths-sit.md
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: tiny improvement of translate prompt
  .changeset/afraid-buttons-decide.md
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: tiny improvement of translate prompt (#43)
  .changeset/afraid-buttons-decide.md
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress and openai, remove unnecessary rehype-raw
  package.json
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehype-fix.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create twelve-beds-teach.md
  .changeset/twelve-beds-teach.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#35)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: potential duplicate ids warning
  .changeset/calm-fishes-count.md
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_Markdown.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: potential duplicate ids warning (#46)
  .changeset/calm-fishes-count.md
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_Markdown.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: potential duplicate ids warning
  .changeset/calm-fishes-count.md
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: potential duplicate ids warning (#48)
  .changeset/calm-fishes-count.md
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress and openai, remove unnecessary rehype-raw
  .changeset/twelve-beds-teach.md
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehype-fix.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress and openai, remove unnecessary rehype-raw (#45)
  .changeset/twelve-beds-teach.md
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehype-fix.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support algolia alauda preset
  .changeset/major-cameras-rule.md
  docs/en/start.mdx
  docs/zh/start.mdx
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support algolia alauda preset (#51)
  .changeset/major-cameras-rule.md
  docs/en/start.mdx
  docs/zh/start.mdx
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: use constant variable `ALAUDA_ALGOLIA_OPTIONS` instead
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#50)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect `error.data` displayed
  src/plugins/replace/resolve-release.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create red-shoes-lay.md
  .changeset/red-shoes-lay.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: incorrect `error.data` displayed (#52)
  .changeset/red-shoes-lay.md
  src/plugins/replace/resolve-release.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create tough-mugs-add.md
  .changeset/tough-mugs-add.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: incorrect `error.data` displayed (#52)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect `error.data` displayed (#54)
  .changeset/tough-mugs-add.md
  src/plugins/replace/resolve-release.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#53)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

docs: add DeepWiki badge
  README.md
Due: prettier --no-error-on-unmatched-pattern --write

docs: add DeepWiki badge
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: unstable slug due to children changes
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create heavy-crews-glow.md
  .changeset/heavy-crews-glow.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: unstable slug due to children changes (#56)
  .changeset/heavy-crews-glow.md
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: unstable slug due to children changes
  .changeset/heavy-crews-glow.md
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
