Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

fix: container directives
  src/plugins/directives/remark-directives.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create shaggy-crabs-pretend.md
  .changeset/shaggy-crabs-pretend.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: rspress built-in container directives (#138)
  .changeset/shaggy-crabs-pretend.md
  src/plugins/directives/remark-directives.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: use toMarkdownExtensions data instead
  package.json
  src/plugins/directives/remark-directives.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create sharp-lizards-jog.md
  .changeset/sharp-lizards-jog.md
Due: prettier --no-error-on-unmatched-pattern --write

refactor: use toMarkdownExtensions data instead (#140)
  .changeset/sharp-lizards-jog.md
  package.json
  src/plugins/directives/remark-directives.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

refactor: use toMarkdownExtensions data instead (#140)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#144)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect type import
  .changeset/warm-taxes-wait.md
  src/global/VersionsNav/NavMenuSingleItem.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: incorrect type import
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#145)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump rspress to v2.0.0-beta.26
  package.json
  src/cli/html-export-pdf/core/outline.ts
  src/cli/html-export-pdf/core/printer.ts
  src/cli/load-config.ts
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/runtime/hooks/useIsPrint.ts
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create eleven-files-nail.md
  .changeset/eleven-files-nail.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-beta.26 (#147)
  .changeset/eleven-files-nail.md
  package.json
  src/cli/html-export-pdf/core/outline.ts
  src/cli/html-export-pdf/core/printer.ts
  src/cli/load-config.ts
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/runtime/hooks/useIsPrint.ts
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): update all dependencies (#149)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: cleanup url path before matching
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create quick-trees-bake.md
  .changeset/quick-trees-bake.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: cleanup url path before matching (#150)
  .changeset/quick-trees-bake.md
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: cleanup url path before matching (#150)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: base is not included in pathname
  package.json
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create clever-melons-talk.md
  .changeset/clever-melons-talk.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: base is not included in pathname (#152)
  .changeset/clever-melons-talk.md
  package.json
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#153)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore(deps): bump rspress to v2.0.0-beta.28
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.3.cjs
  .yarnrc.yml
  package.json
  src/cli/load-config.ts
  src/plugins/index.ts
  src/plugins/sitemap/index.ts
  src/runtime/components/OpenAPIPath.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create tasty-waves-reply.md
  .changeset/tasty-waves-reply.md
Due: prettier --no-error-on-unmatched-pattern --write

chore(deps): bump rspress to v2.0.0-beta.28 (#156)
  .changeset/tasty-waves-reply.md
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.3.cjs
  .yarnrc.yml
  package.json
  src/cli/load-config.ts
  src/plugins/index.ts
  src/plugins/sitemap/index.ts
  src/runtime/components/OpenAPIPath.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: overview matching logic
  src/runtime/components/Overview.tsx
  src/runtime/components/_utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create new-keys-mix.md
  .changeset/new-keys-mix.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: overview matching logic (#158)
  .changeset/new-keys-mix.md
  src/runtime/components/Overview.tsx
  src/runtime/components/_utils.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write
