Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#118)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: bump rspress to v2.0.0-beta.20
  .changeset/new-numbers-tell.md
  .github/workflows/autofix.yml
  .github/workflows/gh-pages.yml
  eslint.config.js
  package.json
  shim.d.ts
  src/cli/export.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/global/VersionsNav/NavMenuGroup.tsx
  src/global/VersionsNav/NavMenuSingleItem.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/Overview.tsx
  src/runtime/components/_utils.ts
  src/runtime/hooks/useSiteOverrides.ts
  src/shared/helpers.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: bump rspress to v2.0.0-beta.20 (#119)
  .changeset/new-numbers-tell.md
  .github/workflows/autofix.yml
  .github/workflows/gh-pages.yml
  eslint.config.js
  package.json
  shim.d.ts
  src/cli/export.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/global/VersionsNav/NavMenuGroup.tsx
  src/global/VersionsNav/NavMenuSingleItem.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/Overview.tsx
  src/runtime/components/_utils.ts
  src/runtime/hooks/useSiteOverrides.ts
  src/shared/helpers.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: remove unused Dockerfile
  Dockerfile
Due: none

chore: remove unused Dockerfile
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#120)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: incorrect dismatch index route paths
  src/runtime/components/_utils.ts
  src/runtime/hooks/useSiteOverrides.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create eleven-hotels-behave.md
  .changeset/eleven-hotels-behave.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: incorrect dismatch index route paths (#121)
  .changeset/eleven-hotels-behave.md
  src/runtime/components/_utils.ts
  src/runtime/hooks/useSiteOverrides.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#122)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: cleanup remark lint rules
  fixture-docs/en/list.md
  package.json
  src/eslint.ts
  src/remark-lint/list-item-size.ts
  src/remarkrc.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create lucky-shrimps-peel.md
  .changeset/lucky-shrimps-peel.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: cleanup remark lint rules (#125)
  .changeset/lucky-shrimps-peel.md
  fixture-docs/en/list.md
  package.json
  src/eslint.ts
  src/remark-lint/list-item-size.ts
  src/remarkrc.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#126)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: callouts style
  src/remarkrc.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create dry-fireants-mate.md
  .changeset/dry-fireants-mate.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: callouts style (#127)
  .changeset/dry-fireants-mate.md
  src/remarkrc.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#128)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: sidebar style issue
  .changeset/hungry-onions-hug.md
  fixture-docs/en/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallersets.mdx
  src/shared/helpers.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: sidebar style issue (#129)
  .changeset/hungry-onions-hug.md
  fixture-docs/en/apis/kubernetes_apis/tektoninstallerset.mdx
  fixture-docs/en/apis/kubernetes_apis/tektoninstallersets.mdx
  src/shared/helpers.ts
  styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#130)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: disable build cache by default
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create soft-walls-search.md
  .changeset/soft-walls-search.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: disable build cache by default (#131)
  .changeset/soft-walls-search.md
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: disable build cache by default (#131)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#132)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: render unsupported directives as text
  fixture-docs/zh/directive.mdx
  package.json
  src/plugins/directives/remark-directives.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create light-bears-judge.md
  .changeset/light-bears-judge.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: render unsupported directives as text (#136)
  .changeset/light-bears-judge.md
  fixture-docs/zh/directive.mdx
  package.json
  src/plugins/directives/remark-directives.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#137)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
