Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#230)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: window reference on server
  packages/doom/src/runtime/components/Masonry.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create lazy-crabs-itch.md
  .changeset/lazy-crabs-itch.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: invalid css selector
  packages/doom/src/runtime/components/Overview.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: window reference on server (#234)
  .changeset/lazy-crabs-itch.md
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/Overview.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: add changesets for releasing
  .changeset/stale-streets-itch.md
  docs/en/usage/api.md
  docs/zh/usage/api.md
  packages/doom/src/runtime/components/K8sAPI.tsx
  packages/doom/src/runtime/components/_K8sAPIEndpoints.tsx
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `oneOf` type
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#237)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: known issues
  docs/en/usage/api.md
  docs/zh/usage/api.md
  packages/doom/src/runtime/components/K8sAPI.tsx
  packages/doom/src/runtime/components/_K8sAPIEndpoints.tsx
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create soft-rats-shake.md
  .changeset/soft-rats-shake.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: known issues (#238)
  .changeset/soft-rats-shake.md
  docs/en/usage/api.md
  docs/zh/usage/api.md
  packages/doom/src/runtime/components/K8sAPI.tsx
  packages/doom/src/runtime/components/_K8sAPIEndpoints.tsx
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.5
  .changeset/sweet-gifts-jam.md
  package.json
  packages/doom/package.json
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/theme/useEditLink.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.5 (#240)
  .changeset/sweet-gifts-jam.md
  package.json
  packages/doom/package.json
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/theme/useEditLink.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#239)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: api reference links
  .changeset/sweet-rockets-hear.md
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/_APIReferenceLink.tsx
  packages/doom/src/runtime/components/_K8sAPIEndpoints.tsx
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: remove non effective Link component
  packages/doom/src/theme/Link.tsx
  packages/doom/src/theme/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: api reference links (#241)
  .changeset/sweet-rockets-hear.md
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/OpenAPIPath.tsx
  packages/doom/src/runtime/components/_APIReferenceLink.tsx
  packages/doom/src/runtime/components/_K8sAPIEndpoints.tsx
  packages/doom/src/runtime/components/_K8sAPISchema.tsx
  packages/doom/src/theme/Link.tsx
  packages/doom/src/theme/index.ts
  packages/doom/styles/global.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#242)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: support linting site name usage
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/site.ts
  packages/doom/src/remarkrc.ts
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/_ExternalSiteBase.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create lucky-wolves-whisper.md
  .changeset/lucky-wolves-whisper.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: support linting site name usage (#243)
  .changeset/lucky-wolves-whisper.md
  packages/doom/src/remark-lint/index.ts
  packages/doom/src/remark-lint/site.ts
  packages/doom/src/remarkrc.ts
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/_ExternalSiteBase.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: just throw on invalid site
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/runtime/components/_ExternalSiteBase.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#244)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: auto expandable code blocks
  .changeset/olive-horses-peel.md
  fixture-docs/en/index.mdx
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/src/theme/CodeBlock.tsx
  packages/doom/src/theme/index.ts
  packages/doom/styles/auto-expandable.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: auto expandable code blocks (#246)
  .changeset/olive-horses-peel.md
  fixture-docs/en/index.mdx
  packages/doom/src/theme/AutoExpandable.tsx
  packages/doom/src/theme/CodeBlock.tsx
  packages/doom/src/theme/index.ts
  packages/doom/styles/auto-expandable.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#247)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump rspress to v2.0.2 with other dependencies
  .changeset/young-ideas-carry.md
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/cli/new.ts
  packages/doom/src/cli/translate.ts
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/login/LoginForm/index.tsx
  packages/doom/src/plugins/replace/resolve-reference.ts
  packages/doom/src/plugins/replace/resolve-release.ts
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/theme/useEditLink.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.2 with other dependencies (#249)
  .changeset/young-ideas-carry.md
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/cli/new.ts
  packages/doom/src/cli/translate.ts
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/login/LoginForm/index.tsx
  packages/doom/src/plugins/replace/resolve-reference.ts
  packages/doom/src/plugins/replace/resolve-release.ts
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/theme/useEditLink.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
