Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: bump @alauda/doom-export version (#221)
  .changeset/nine-bears-switch.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: bump @alauda/doom-export version (#221)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#222)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: exporting pdf style
  packages/doom/src/cli/export.ts
  packages/doom/src/plugins/auto-toc/remark-auto-toc.ts
  packages/doom/styles/global.scss
  packages/export/src/html-export-pdf/core/outline.ts
  packages/export/src/html-export-pdf/core/printer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create red-spiders-wonder.md
  .changeset/red-spiders-wonder.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: exporting pdf style (#223)
  .changeset/red-spiders-wonder.md
  packages/doom/src/cli/export.ts
  packages/doom/src/plugins/auto-toc/remark-auto-toc.ts
  packages/doom/styles/global.scss
  packages/export/src/html-export-pdf/core/outline.ts
  packages/export/src/html-export-pdf/core/printer.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#224)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: assistant style compatibility
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/styles/ai-assistant.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create two-rabbits-taste.md
  .changeset/two-rabbits-taste.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: assistant style compatibility (#225)
  .changeset/two-rabbits-taste.md
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/styles/ai-assistant.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#226)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: support exporting APIs documents manually
  package.json
  packages/doom/package.json
  packages/doom/src/plugins/auto-sidebar/index.ts
  packages/doom/styles/global.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create smooth-bobcats-admire.md
  .changeset/smooth-bobcats-admire.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: lint fix
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/plugins/auto-sidebar/walk.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: enable llms plugin
  packages/doom/src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: compatibility issues
  .github/workflows/ci.yml
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/plugins/auto-sidebar/index.ts
  packages/doom/src/plugins/global/index.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: support exporting APIs documents manually (#227)
  .changeset/smooth-bobcats-admire.md
  .github/workflows/ci.yml
  package.json
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/SiteOverrides/index.tsx
  packages/doom/src/plugins/auto-sidebar/index.ts
  packages/doom/src/plugins/auto-sidebar/walk.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/styles/global.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#228)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: overview page style
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/styles/overview.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create short-pillows-learn.md
  .changeset/short-pillows-learn.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: overview page style (#229)
  .changeset/short-pillows-learn.md
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/styles/overview.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: use hack way to reuse builtin nav
  packages/doom/src/runtime/components/Directive.tsx
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/shared/helpers.ts
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Link.tsx
  packages/doom/src/theme/VersionsNav/Down.tsx
  packages/doom/src/theme/VersionsNav/NavMenuGroup.tsx
  packages/doom/src/theme/VersionsNav/NavMenuSingleItem.tsx
  packages/doom/src/theme/VersionsNav/SvgWrapper.tsx
  packages/doom/src/theme/VersionsNav/context.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  packages/doom/src/theme/index.ts
  packages/doom/styles/link.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create twelve-spiders-listen.md
  .changeset/twelve-spiders-listen.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: download type
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Link.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: use hack way to reuse builtin nav (#231)
  .changeset/twelve-spiders-listen.md
  packages/doom/src/runtime/components/Directive.tsx
  packages/doom/src/runtime/components/ExternalSiteLink.tsx
  packages/doom/src/shared/helpers.ts
  packages/doom/src/theme/Layout.tsx
  packages/doom/src/theme/Link.tsx
  packages/doom/src/theme/VersionsNav/Down.tsx
  packages/doom/src/theme/VersionsNav/NavMenuGroup.tsx
  packages/doom/src/theme/VersionsNav/NavMenuSingleItem.tsx
  packages/doom/src/theme/VersionsNav/SvgWrapper.tsx
  packages/doom/src/theme/VersionsNav/context.tsx
  packages/doom/src/theme/VersionsNav/index.tsx
  packages/doom/src/theme/index.ts
  packages/doom/styles/link.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: remove unused style file
  packages/doom/styles/versions-nav.module.scss
Due: none

feat: use `masonry-layout` for overview
  package.json
  packages/doom/package.json
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/index.ts
  packages/doom/styles/overview.module.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: SSG compatibility
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/Overview.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create poor-drinks-refuse.md
  .changeset/poor-drinks-refuse.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: use `masonry-layout` for overview (#232)
  .changeset/poor-drinks-refuse.md
  package.json
  packages/doom/package.json
  packages/doom/src/runtime/components/Masonry.tsx
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/src/runtime/components/index.ts
  packages/doom/styles/overview.module.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.4
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Create pretty-goats-compete.md
  .changeset/pretty-goats-compete.md
Due: prettier --no-error-on-unmatched-pattern --write

ci: enable Node 20 testing
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-rc.4 (#233)
  .changeset/pretty-goats-compete.md
  .github/workflows/ci.yml
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
