Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#57)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: enable eslint-plugin-react-hooks
  eslint.config.js
  package.json
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/K8sPermissionTable.tsx
  src/runtime/components/Mermaid.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/runtime/components/_ExternalSiteBase.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/hooks/useIsPrint.ts
  src/runtime/hooks/useSiteOverrides.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: unstable slug due to children changes (#58)
  .changeset/heavy-crews-glow.md
  eslint.config.js
  package.json
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/K8sPermissionTable.tsx
  src/runtime/components/Mermaid.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/runtime/components/_ExternalSiteBase.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/hooks/useIsPrint.ts
  src/runtime/hooks/useSiteOverrides.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: enable @eslint-react/eslint-plugin
  eslint.config.js
  src/global/VersionsNav/index.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Tabs.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create quick-zoos-allow.md
  .changeset/quick-zoos-allow.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: enable eslint-plugin-react-hooks and @eslint-react/eslint-plugin (#60)
  .changeset/quick-zoos-allow.md
  eslint.config.js
  package.json
  src/global/SiteOverrides/index.tsx
  src/global/VersionsNav/index.tsx
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/K8sPermissionTable.tsx
  src/runtime/components/Mermaid.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Overview.tsx
  src/runtime/components/Tabs.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_ExternalSiteBase.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/hooks/useIsPrint.ts
  src/runtime/hooks/useSiteOverrides.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: enable @eslint-react/eslint-plugin
  .changeset/slow-readers-work.md
  eslint.config.js
  src/global/VersionsNav/index.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Tabs.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#61)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: enable @eslint-react/eslint-plugin (#62)
  .changeset/slow-readers-work.md
  eslint.config.js
  src/global/VersionsNav/index.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/Tabs.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_HeadingTitle.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: unknown node type `raw` for mdx
  fixture-docs/doom.config.yml
  fixture-docs/en/release_notes.mdx
  fixture-docs/zh/release_notes.mdx
  src/plugins/replace/remark-replace.ts
  src/plugins/replace/resolve-release.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  .changeset/empty-crews-jog.md
  package.json
  src/plugins/replace/resolve-release.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: unknown node type `raw` for mdx (#63)
  .changeset/empty-crews-jog.md
  fixture-docs/doom.config.yml
  fixture-docs/en/release_notes.mdx
  fixture-docs/zh/release_notes.mdx
  package.json
  src/plugins/replace/remark-replace.ts
  src/plugins/replace/resolve-release.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#64)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: exit pre next mode
  .changeset/pre.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: exit pre next mode (#65)
  .changeset/pre.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: exit pre next mode (#65)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#66)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: support alauda-ru preset
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create slow-moles-relax.md
  .changeset/slow-moles-relax.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: support alauda-ru preset (#67)
  .changeset/slow-moles-relax.md
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: support alauda-ru preset (#67)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#68)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: check `when` expression correctly
  package.json
  src/cli/new.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create proud-masks-kiss.md
  .changeset/proud-masks-kiss.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: check `when` expression correctly (#69)
  .changeset/proud-masks-kiss.md
  package.json
  src/cli/new.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: check `when` expression correctly (#69)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: check `when` expression correctly (#69)
  .changeset/proud-masks-kiss.md
  package.json
  src/cli/new.ts
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  .changeset/green-meals-juggle.md
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: check `when` expression correctly (#69) (#71)
  .changeset/proud-masks-kiss.md
  package.json
  src/cli/new.ts
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#70)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: remove invalid `frontmatter.title`
  package.json
  src/cli/translate.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: deal with rspress changes
  .changeset/silly-owls-whisper.md
  patches/@rspress+theme-default+2.0.0-beta.11.patch
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/Overview.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: remove invalid `frontmatter.title` (#73)
  .changeset/silly-owls-whisper.md
  package.json
  patches/@rspress+theme-default+2.0.0-beta.11.patch
  src/cli/translate.ts
  src/runtime/components/ExternalSiteLink.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/Overview.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#74)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: integrate with rsbuild svgr
  global.d.ts
  package.json
  shim.d.ts
  src/cli/load-config.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
