Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

chore: bump yarn
  .github/workflows/gh-pages.yml
  .yarn/releases/yarn-4.9.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
Due: prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#157)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#161)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: css selector for tooltip
  .changeset/tender-pants-share.md
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/styles/ai-assistant.module.scss
  packages/doom/styles/intelligence.module.scss
  packages/doom/styles/intelligence.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: css selector for tooltip (#162)
  .changeset/tender-pants-share.md
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/styles/ai-assistant.module.scss
  packages/doom/styles/intelligence.module.scss
  packages/doom/styles/intelligence.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: enable defaultWrapCode on exporting
  packages/doom/src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create metal-camels-drop.md
  .changeset/metal-camels-drop.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: enable defaultWrapCode on exporting (#164)
  .changeset/metal-camels-drop.md
  packages/doom/src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): bump rspress to v2.0.0-beta.29
  eslint.config.js
  fixture-docs/en/link.md
  fixture-docs/public/data.sql
  package.json
  packages/doom/package.json
  packages/doom/shim.d.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create shiny-readers-carry.md
  .changeset/shiny-readers-carry.md
Due: prettier --no-error-on-unmatched-pattern --write

chore(deps): bump rspress to v2.0.0-beta.29 (#166)
  .changeset/shiny-readers-carry.md
  eslint.config.js
  fixture-docs/en/link.md
  fixture-docs/public/data.sql
  package.json
  packages/doom/package.json
  packages/doom/shim.d.ts
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: throw on jira request errors
  .changeset/lemon-pears-repair.md
  packages/doom/package.json
  packages/doom/src/plugins/replace/resolve-release.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: throw on jira request errors (#168)
  .changeset/lemon-pears-repair.md
  packages/doom/package.json
  packages/doom/src/plugins/replace/resolve-release.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#169)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

feat: add Authorization header support
  .changeset/metal-adults-greet.md
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/LoginForm/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/constants.ts
  packages/doom/src/global/Intelligence/context.tsx
  packages/doom/src/global/Intelligence/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add Authorization header support (#170)
  .changeset/metal-adults-greet.md
  packages/doom/src/cli/load-config.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/LoginForm/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/constants.ts
  packages/doom/src/global/Intelligence/context.tsx
  packages/doom/src/global/Intelligence/types.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): bump rspress to v2.0.0-beta.30
  .changeset/busy-walls-enter.md
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: incompatible exports
  packages/doom/src/cli/load-config.ts
  packages/doom/src/shared/helpers.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore(deps): bump rspress to v2.0.0-beta.30 (#172)
  .changeset/busy-walls-enter.md
  packages/doom/package.json
  packages/doom/src/cli/load-config.ts
  packages/doom/src/shared/helpers.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: lock openai version temporarily
  packages/doom/package.json
  packages/doom/src/eslint.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: lock openai version temporarily (#173)
  packages/doom/package.json
  packages/doom/src/eslint.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create whatever.md
  .changeset/whatever.md
Due: prettier --no-error-on-unmatched-pattern --write

Create whatever.md (#174)
  .changeset/whatever.md
Due: prettier --no-error-on-unmatched-pattern --write

Apply suggestion from @JounQin
  packages/doom/CHANGELOG.md
Due: prettier --no-error-on-unmatched-pattern --write
