Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

feat!: migrate to rspress v2
  .changeset/pre.json
  package.json
  patches/unist-util-visit-parents+5.1.3.patch
  src/cli/index.ts
  src/cli/load-config.ts
  src/plugins/auto-toc/remark-auto-toc.ts
  src/plugins/replace/index.ts
  src/plugins/replace/normalize-img-src.ts
  src/plugins/replace/rehype-normalize-link.ts
  src/plugins/replace/remark-replace.ts
  src/plugins/replace/resolve-reference.ts
  src/plugins/replace/resolve-release.ts
  src/plugins/replace/utils.ts
  src/plugins/shiki/highlighter.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehypePlugin.ts
  src/runtime/components/JsonViewer.tsx
  src/types.ts
  styles/global.scss
  styles/shiki.css
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create rotten-cows-cough.md
  .changeset/rotten-cows-cough.md
Due: prettier --no-error-on-unmatched-pattern --write

feat!: migrate to rspress v2 (#28)
  .changeset/pre.json
  .changeset/rotten-cows-cough.md
  package.json
  patches/unist-util-visit-parents+5.1.3.patch
  src/cli/index.ts
  src/cli/load-config.ts
  src/plugins/auto-toc/remark-auto-toc.ts
  src/plugins/replace/index.ts
  src/plugins/replace/normalize-img-src.ts
  src/plugins/replace/rehype-normalize-link.ts
  src/plugins/replace/remark-replace.ts
  src/plugins/replace/resolve-reference.ts
  src/plugins/replace/resolve-release.ts
  src/plugins/replace/utils.ts
  src/plugins/shiki/highlighter.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehypePlugin.ts
  src/runtime/components/JsonViewer.tsx
  src/types.ts
  styles/global.scss
  styles/shiki.css
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#29)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

docs: add github repo link, cleanup noused documents
  docs/en/usage/deploy.md
  docs/zh/usage/deploy.md
  doom.config.yml
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump `@rspress/core` to v2.0.0-beta.7
  .changeset/config.json
  .changeset/eight-cougars-agree.md
  .codesandbox/ci.json
  .prettierignore
  eslint.config.js
  package.json
  src/runtime/components/JsonViewer.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/K8sPermissionTable.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_Markdown.tsx
  src/runtime/components/_RefLink.tsx
  src/runtime/components/_X.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump `@rspress/core` to v2.0.0-beta.7 (#30)
  .changeset/config.json
  .changeset/eight-cougars-agree.md
  .codesandbox/ci.json
  .prettierignore
  eslint.config.js
  package.json
  src/runtime/components/JsonViewer.tsx
  src/runtime/components/K8sCrd.tsx
  src/runtime/components/K8sPermissionTable.tsx
  src/runtime/components/OpenAPIPath.tsx
  src/runtime/components/OpenAPIRef.tsx
  src/runtime/components/TermsTable.tsx
  src/runtime/components/_HeadingTitle.tsx
  src/runtime/components/_Markdown.tsx
  src/runtime/components/_RefLink.tsx
  src/runtime/components/_X.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#31)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

fix: `rehype-raw` removes `node.data` unexpectedly
  .changeset/yummy-numbers-enjoy.md
  fixture-docs/en/code-title.md
  fixture-docs/zh/code-title.md
  package.json
  src/cli/load-config.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehype-fix.ts
  src/plugins/shiki/transformers/index.ts
  src/plugins/shiki/transformers/line-number.ts
  src/runtime/components/JsonViewer.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Update src/plugins/shiki/rehype-fix.ts
  src/plugins/shiki/rehype-fix.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `rehype-raw` removes `node.data` unexpectedly (#32)
  .changeset/yummy-numbers-enjoy.md
  fixture-docs/en/code-title.md
  fixture-docs/zh/code-title.md
  package.json
  src/cli/load-config.ts
  src/plugins/shiki/index.ts
  src/plugins/shiki/rehype-fix.ts
  src/plugins/shiki/transformers/index.ts
  src/plugins/shiki/transformers/line-number.ts
  src/runtime/components/JsonViewer.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (next) (#33)
  Doom-en.pdf
  Doom-zh.pdf
Due: none

feat: add algolia search support
  docs/public/Robots.txt
  doom.config.yml
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/theme.tsx
  src/types.ts
  theme/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create witty-carrots-repair.md
  .changeset/witty-carrots-repair.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: add algolia search support (#34)
  .changeset/witty-carrots-repair.md
  docs/public/Robots.txt
  doom.config.yml
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/theme.tsx
  src/types.ts
  theme/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

docs: Robots.txt should be robots.txt
  docs/public/robots.txt
Due: none

docs: Robots.txt should be robots.txt
  Doom-en.pdf
  Doom-zh.pdf
  robots.txt
Due: none

docs: enable algolia for doom.js.org
  .github/workflows/gh-pages.yml
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/en/usage/deploy.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  doom.config.yml
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/load-config.ts
  src/cli/translate.ts
  src/shared/constants.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: allow release on 0.x branch
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --no-error-on-unmatched-pattern --write

fix: boolean value parsing
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create modern-knives-care.md
  .changeset/modern-knives-care.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: boolean value parsing (#36)
  .changeset/modern-knives-care.md
  src/cli/helpers.ts
  src/cli/index.ts
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Create cyan-mails-type.md
  .changeset/cyan-mails-type.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies (#38)
  .changeset/cyan-mails-type.md
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: add zh locale support for algolia search
  .changeset/healthy-shirts-wink.md
  src/shared/constants.ts
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: add zh locale support for algolia search (#39)
  .changeset/healthy-shirts-wink.md
  src/shared/constants.ts
  src/theme.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add llms and sitemap support
  .changeset/smart-rivers-smash.md
  .github/workflows/gh-pages.yml
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  doom.config.yml
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/index.ts
  src/plugins/sitemap/index.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: add llms and sitemap support (#40)
  .changeset/smart-rivers-smash.md
  .github/workflows/gh-pages.yml
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/start.mdx
  docs/zh/usage/configuration.md
  doom.config.yml
  package.json
  src/cli/index.ts
  src/cli/load-config.ts
  src/cli/translate.ts
  src/plugins/index.ts
  src/plugins/sitemap/index.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: tiny improvement of translate prompt
  docs/en/usage/configuration.md
  docs/zh/usage/configuration.md
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create afraid-buttons-decide.md
  .changeset/afraid-buttons-decide.md
Due: prettier --no-error-on-unmatched-pattern --write
