Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --no-error-on-unmatched-pattern --write"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --no-error-on-unmatched-pattern --write"
  ]
}

Create proud-walls-fetch.md
  .changeset/proud-walls-fetch.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: integrate with rsbuild svgr (#75)
  .changeset/proud-walls-fetch.md
  global.d.ts
  package.json
  shim.d.ts
  src/cli/load-config.ts
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: alias classnames to clsx
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create shy-falcons-grin.md
  .changeset/shy-falcons-grin.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: alias `classnames` to `clsx` (#77)
  .changeset/shy-falcons-grin.md
  src/cli/load-config.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: alias `classnames` to `clsx` (#77)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#76)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix(deps): `@total-typescript/ts-reset` should be listed as dependency
  package.json
  src/global/VersionsNav/index.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create big-berries-joke.md
  .changeset/big-berries-joke.md
Due: prettier --no-error-on-unmatched-pattern --write

fix(deps): `@total-typescript/ts-reset` should be listed as dependency (#78)
  .changeset/big-berries-joke.md
  package.json
  src/global/VersionsNav/index.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `i18n.json` is now virtual module
  src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create sharp-snails-draw.md
  .changeset/sharp-snails-draw.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: `i18n.json` is now virtual module (#80)
  .changeset/sharp-snails-draw.md
  src/cli/index.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: `i18n.json` is now virtual module (#80)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#81)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

Overhaul translation system for improved accuracy and stability
  src/cli/translate.ts
  src/shared/constants.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix typecov and improve title translation map.
  src/cli/translate.ts
  src/shared/constants.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix issues found by coderabbit ai.
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix issues found be coderabbit ai.
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

revert to delete frontmatter fields method.
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create heavy-beers-hope.md
  .changeset/heavy-beers-hope.md
Due: prettier --no-error-on-unmatched-pattern --write

update docs.
  docs/en/apis/advanced-apis/event/index.mdx
  docs/en/apis/advanced-apis/event/search.mdx
  docs/en/apis/advanced-apis/log/aggregation.mdx
  docs/en/apis/advanced-apis/log/index.mdx
  docs/en/apis/advanced-apis/log/search.mdx
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/apis/advanced-apis/event/index.mdx
  docs/zh/apis/advanced-apis/event/search.mdx
  docs/zh/apis/advanced-apis/log/aggregation.mdx
  docs/zh/apis/advanced-apis/log/index.mdx
  docs/zh/apis/advanced-apis/log/search.mdx
  docs/zh/usage/configuration.md
  package.json
  src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Overhaul translation system for improved accuracy and stability (#82)
  .changeset/heavy-beers-hope.md
  docs/en/apis/advanced-apis/event/index.mdx
  docs/en/apis/advanced-apis/event/search.mdx
  docs/en/apis/advanced-apis/log/aggregation.mdx
  docs/en/apis/advanced-apis/log/index.mdx
  docs/en/apis/advanced-apis/log/search.mdx
  docs/en/start.mdx
  docs/en/usage/configuration.md
  docs/zh/apis/advanced-apis/event/index.mdx
  docs/zh/apis/advanced-apis/event/search.mdx
  docs/zh/apis/advanced-apis/log/aggregation.mdx
  docs/zh/apis/advanced-apis/log/index.mdx
  docs/zh/apis/advanced-apis/log/search.mdx
  docs/zh/usage/configuration.md
  package.json
  src/cli/translate.ts
  src/shared/constants.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#83)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump rspress to v2.0.0-beta.12
  package.json
  patches/@rspress+theme-default+2.0.0-beta.11.patch
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: use pkg.pr.new version temporarily
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

fix: style regression of VersionsNav
  src/global/VersionsNav/Down.tsx
  src/global/VersionsNav/NavMenuGroup.tsx
  src/global/VersionsNav/NavMenuSingleItem.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create tiny-ghosts-sell.md
  .changeset/tiny-ghosts-sell.md
Due: prettier --no-error-on-unmatched-pattern --write

Create sour-wombats-hunt.md
  .changeset/sour-wombats-hunt.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-beta.12 (#84)
  .changeset/sour-wombats-hunt.md
  .changeset/tiny-ghosts-sell.md
  package.json
  patches/@rspress+theme-default+2.0.0-beta.11.patch
  src/global/VersionsNav/Down.tsx
  src/global/VersionsNav/NavMenuGroup.tsx
  src/global/VersionsNav/NavMenuSingleItem.tsx
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#85)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: bump rspress to v2.0.0-beta.13
  .changeset/better-ghosts-see.md
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump rspress to v2.0.0-beta.13 (#86)
  .changeset/better-ghosts-see.md
  package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write
