Repository alauda/doom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --no-error-on-unmatched-pattern --write

ci: remove node 18 support
  .github/workflows/ci.yml
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies (#190)
  .changeset/slow-mice-doubt.md
  .github/workflows/ci.yml
  .nvmrc
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  eslint.config.js
  package.json
  packages/doom/package.json
  packages/doom/src/cli/new.ts
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/runtime/components/OpenAPIRef.tsx
  packages/doom/src/runtime/hooks/useInterval.ts
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/runtime/hooks/useMemoizedFn.ts
  packages/doom/styles/overview.module.scss
  packages/export/package.json
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: release @alauda/doom (#191)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: add related test fixture
  fixture-docs/en/configure/pod_template_guide.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: use streaming response instead
  fixture-docs/zh/configure/pod_template_guide.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create nine-crews-repeat.md
  .changeset/nine-crews-repeat.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: use streaming response instead (#192)
  .changeset/nine-crews-repeat.md
  fixture-docs/en/configure/pod_template_guide.mdx
  fixture-docs/zh/configure/pod_template_guide.mdx
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: use streaming response instead (#192)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: enable intelligence on docs.alauda.cn
  packages/doom/src/global/Intelligence/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create sharp-forks-fix.md
  .changeset/sharp-forks-fix.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: enable intelligence on docs.alauda.cn (#194)
  .changeset/sharp-forks-fix.md
  packages/doom/src/global/Intelligence/index.tsx
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: choices could be empty
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create rare-beers-switch.md
  .changeset/rare-beers-switch.md
Due: prettier --no-error-on-unmatched-pattern --write

fix: choices could be empty (#195)
  .changeset/rare-beers-switch.md
  packages/doom/src/cli/translate.ts
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: incompatible styles with new rspress versions
  .changeset/gorgeous-bears-brush.md
  package.json
  packages/doom/package.json
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/remark-lint/list-table-introduction.ts
  packages/doom/src/remark-lint/maximum-link-content-length.ts
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/styles/overview.module.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: incompatible styles with new rspress versions (#197)
  .changeset/gorgeous-bears-brush.md
  package.json
  packages/doom/package.json
  packages/doom/src/global/VersionsNav/index.tsx
  packages/doom/src/remark-lint/list-table-introduction.ts
  packages/doom/src/remark-lint/maximum-link-content-length.ts
  packages/doom/src/runtime/components/Overview.tsx
  packages/doom/styles/overview.module.scss
  yarn.lock
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

feat: require auth login for russian docs
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/Radio.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/RadioGroup.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/context.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/index.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/types.ts
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/constants.ts
  packages/doom/src/global/Intelligence/context.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/src/login/ApiErrorAlert/index.tsx
  packages/doom/src/login/Button/index.tsx
  packages/doom/src/login/CaptchaInput/index.tsx
  packages/doom/src/login/FocusInput/index.tsx
  packages/doom/src/login/FormItem/index.tsx
  packages/doom/src/login/Input/index.tsx
  packages/doom/src/login/LoginForm/index.tsx
  packages/doom/src/login/LoginForm/types.ts
  packages/doom/src/login/LoginForm/utils.ts
  packages/doom/src/login/constants.ts
  packages/doom/src/login/index.tsx
  packages/doom/src/login/store.ts
  packages/doom/src/login/types.ts
  packages/doom/src/login/utils.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/runtime/translation.ts
  packages/doom/styles/login.module.scss
  packages/doom/styles/preamble.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create chilled-ants-sip.md
  .changeset/chilled-ants-sip.md
Due: prettier --no-error-on-unmatched-pattern --write

feat: require auth login for russian docs (#199)
  .changeset/chilled-ants-sip.md
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/Radio.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/RadioGroup.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/context.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/Radio/index.ts
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/index.tsx
  packages/doom/src/global/Intelligence/AIAssistant/Preamble/types.ts
  packages/doom/src/global/Intelligence/AIAssistant/index.tsx
  packages/doom/src/global/Intelligence/constants.ts
  packages/doom/src/global/Intelligence/context.tsx
  packages/doom/src/global/Intelligence/index.tsx
  packages/doom/src/login/ApiErrorAlert/index.tsx
  packages/doom/src/login/Button/index.tsx
  packages/doom/src/login/CaptchaInput/index.tsx
  packages/doom/src/login/FocusInput/index.tsx
  packages/doom/src/login/FormItem/index.tsx
  packages/doom/src/login/Input/index.tsx
  packages/doom/src/login/LoginForm/index.tsx
  packages/doom/src/login/LoginForm/types.ts
  packages/doom/src/login/LoginForm/utils.ts
  packages/doom/src/login/constants.ts
  packages/doom/src/login/index.tsx
  packages/doom/src/login/store.ts
  packages/doom/src/login/types.ts
  packages/doom/src/login/utils.ts
  packages/doom/src/plugins/global/index.ts
  packages/doom/src/runtime/hooks/useIsPrint.ts
  packages/doom/src/runtime/translation.ts
  packages/doom/styles/login.module.scss
  packages/doom/styles/preamble.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  package.json
  packages/doom/package.json
  packages/export/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Create brave-roses-retire.md
  .changeset/brave-roses-retire.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies (#201)
  .changeset/brave-roses-retire.md
  package.json
  packages/doom/package.json
  packages/export/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies (#201)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

chore: release @alauda/doom (#200)
  Doom-en.pdf
  Doom-zh.pdf
  sitemap.xml
Due: none

fix: improve login style
  packages/doom/assets/login-bg.svg
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/login/index.tsx
  packages/doom/styles/login.module.scss
  packages/doom/styles/preamble.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

Create friendly-buckets-flow.md
  .changeset/friendly-buckets-flow.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: update node version requirement
  AGENTS.md
Due: prettier --no-error-on-unmatched-pattern --write

chore: update background image
  packages/doom/assets/login-bg.dark.svg
  packages/doom/src/login/index.tsx
  packages/doom/styles/login.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

fix: improve login style (#202)
  .changeset/friendly-buckets-flow.md
  AGENTS.md
  packages/doom/assets/login-bg.dark.svg
  packages/doom/assets/login-bg.svg
  packages/doom/src/global/AuthCheck/index.tsx
  packages/doom/src/login/index.tsx
  packages/doom/styles/login.module.scss
  packages/doom/styles/preamble.module.scss
Due: eslint --fix, prettier --no-error-on-unmatched-pattern --write

chore: bump all (dev)Dependencies
  package.json
  packages/doom/package.json
  yarn.lock
Due: prettier --no-error-on-unmatched-pattern --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --no-error-on-unmatched-pattern --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,mdx,yaml,yml})
